$parent: item-client;

@include block($parent) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: rem(250);
  height: rem(120);
  background-color: $gray-light;
  margin-right: rem(10);
  border-radius: rem(4);

  @include min-media('t') {
    width: calc(50% - #{rem(10)});
    height: rem(160);
    margin: rem(5);
  }

  @include min-media('xl') {
    width: calc(25% - #{rem(10)});
    height: rem(200);
  }
}
