@import "~@atoms/item/person/item-person.scss";

$parent: section-warehouse;

@include block($parent) {
  display: flex;
  flex-direction: column;
  position: relative;

  @include min-media('xxl') {
    flex-direction: row;
    height: rem(352);
  }

  @include min-media('xxxl') {
    height: rem(362);
  }

  @include element($parent, 'description') {
    width: 100%;
    background-color: $white;
    padding: rem(0);
    color: $white;
    border-bottom-left-radius: rem(4);
    border-bottom-right-radius: rem(4);
    position: relative;

    @include min-media('xl') {
      padding: 0;
    }

    @include min-media('xxxl') {
      border-bottom-right-radius: 0;
      border-top-left-radius: rem(4);
      color: $dark;
    }
  }

  @include element($parent, 'container') {
    margin-bottom: rem(55);
    max-width: rem(335);

    @include min-media('t') {
      max-width: rem(492);
      margin-bottom: rem(65);
    }

    @include min-media('xl') {
      padding: 0;
      max-width: rem(535);
    }

    @include min-media('xxl') {
      margin-bottom: 0;
      width: rem(490);
      max-width: rem(505);
    }

    @include min-media('xxxl') {
      width: rem(490);
    }
  }

  @include element($parent, 'cards-container') {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-left: rem(20);
    // margin-left: rem(20);

    @include min-media('t') {
      padding-left: rem(80);
    }

    @include min-media('xxl') {
      transform: translateY(-50%);
      position: absolute;
      left: 54.8%;
      top: 50%;
      padding-left: rem(0);
      width: 45.2%;
    }

    @include min-media('xxxl') {
      left: 53.8%;
      top: 54%;
      width: 46.2%;
    }
  }

  @include element($parent, 'cards-item') {
    max-width: rem(228);
    width: rem(228);
    max-height: rem(314);
    height: rem(314);
    border-radius: rem(4);
    overflow: hidden;
    position: relative;

    @include min-media('xl') {
      max-width: rem(228);
      width: rem(228);
    }

    @include min-media('xxxl') {
      max-width: rem(248);
      width: rem(248);
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(18, 25, 48, 0.5) 0%, rgba(18, 25, 48, 0) 47.85%, rgba(18, 25, 48, 0.7) 100%);
      z-index: 10;
    }

    &.swiper-slide-visible {
      visibility: visible;
    }

    &.swiper-slide-duplicate-active,
    &.swiper-slide-duplicate-next,
    &.swiper-slide-prev {
      visibility: hidden;
    }

    &:not(.swiper-slide-active) {
      filter: blur(3px);
      position: relative;
      pointer-events: none;

      &::after {
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $dark;
          opacity: 0.5;
          z-index: 100;
        }
      }
    }
  }

  @include element($parent, 'logo') {
    position: absolute;
    height: rem(430);
    top: 0;
    right: 0;

    & > img {
      height: 100%;
      right: 0;
    }
  }

  @include element($parent, 'title') {
    margin-bottom: rem(30);
    color: $dark;
    width: 100%;

    @include min-media('t') {
      width: 100%;
      margin-bottom: rem(50);
    }

    @include min-media('xl') {
      width: rem(452);
      margin-bottom: rem(40);
    }

    @include min-media('xxl') {
      width: rem(452);
      margin-bottom: rem(50);
    }
  }

  @include element($parent, 'subtitle') {
    margin-bottom: rem(20);
    color: $dark;
  }

  @include element($parent, 'text') {
    margin-bottom: rem(43);
    color: $dark;
    opacity: 1;
    padding-right: rem(0);

    @include min-media('xl') {
      padding-right: rem(20);
    }
  }

  @include element($parent, 'btn') {
    display: inline-block;
    align-self: center;
    color: $dark;
    font-family: 'OpenSans', sans-serif;
  }

  @include element($parent, 'controls') {
    display: flex;
    justify-content: space-between;
    color: $dark;
    width: rem(337);

    @include min-media('t') {
      width: rem(476);
    }
  }

  @include element($parent, 'slider') {
    padding-top: rem(14);
    margin-top: rem(-11);
  }

  .swiper-slide--to-left,
  .swiper-slide--to-right {
    background-color: yellow;

    a {
      pointer-events: none;
    }
  }
}
