@import "~@atoms/icon/icon.scss";
@import "~@base/styles/_flatpickr.scss";

$parent: field-date;

@include block ($parent) {
  width: rem(245);
  height: rem(41);

  @include modifier($parent, 'light') {
    @include element($parent, 'input') {
      border: 1px solid rgba($primary, 0.15);
      font-size: rem(14);
      line-height: rem(22);
      padding-left: rem(20);

      &::placeholder {
        font-weight: 400;
        opacity: 0.7;
      }
    }
  }

  @include element($parent, 'calendar') {
    position: relative;
    width: 100%;
    height: 100%;
  }

  @include element($parent, 'input') {
    height: 46px;
    padding: 0 rem(15);
    padding-right: 0;
    border: rem(1) solid $gray-dark;
    box-sizing: border-box;
    border-radius: 4px;
    color: $primary;
    width: 100%;
    font: 600 rem(16)/rem(16) 'Montserrat', sans-serif;

    &::placeholder {
      color: $primary;
    }

    &:not([data-invalid]):hover {
      border-color: $green;
      transition: border-color $ease;
    }
  }

  @include element($parent, 'icon') {
    position: absolute;
    top: calc(50% - #{rem(6)});
    right: rem(23);
    width: rem(7);
    height: rem(12);
    pointer-events: none;
    transition: transform $ease;

    & > svg {
      fill: $green;
    }

    @include modifier($parent, 'open') {
      transform: rotate(90deg);
    }
  }

  @include element($parent, 'btn') {
    & > svg {
      width: rem(8);
      height: rem(12);
      fill: $green;
    }
  }
}
