include /atoms/link/link.pug
include /atoms/picture/picture.pug
include /atoms/field/input/field-input.pug
include /atoms/field/textarea/field-textarea.pug

mixin section-feedback(props= {info: false, className: ''})
  .section-feedback.lazyload
    .container
      if props.info.title
        .section-feedback__title.text-heading-2.topline(data-anim='fadeUp', data-delay='0.2')!= props.info.title 
      if props.info.text
        .section-feedback__text.text(data-anim='fadeUp', data-delay='0.4')!= props.info.text
      form.section-feedback__form(action= props.info.form.action, method= props.info.form.method, data-anim='fadeUp', data-delay='0.6')
        if props.info.fields
          .section-feedback__fields
            each input in props.info.fields
              if input.type === 'textarea'
                +field-textarea({info: input, className: 'section-feedback__textarea'})
              else
                +field-input({info: input, className: input.isHalf ? 'section-feedback__field section-feedback__field--half' : 'section-feedback__field'})
        if props.info.btn || props.info.politics
          .section-feedback__footer
            if props.info.btn 
              +link({info: props.info.btn, className: 'section-feedback__btn'})
            if props.info.politics
              .section-feedback__politics.text-extrasmall!= props.info.politics

      if props.info.image
      +picture({info: props.info.image, className: 'section-feedback__image'})
