@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, textarea {
  font-family: 'Euclid Circular', sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

button, input {
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  font-family: 'Euclid Circular', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 10em #F5F5F5 inset !important;
}

.margin {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url("../fonts/EuclidCircular-Light.woff2") format("woff2"), url("../fonts/EuclidCircular-Light.woff") format("woff"), url("../fonts/EuclidCircular-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url("../fonts/EuclidCircular-Regular.woff2") format("woff2"), url("../fonts/EuclidCircular-Regular.woff") format("woff"), url("../fonts/EuclidCircular-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url("../fonts/EuclidCircular-Medium.woff2") format("woff2"), url("../fonts/EuclidCircular-Medium.woff") format("woff"), url("../fonts/EuclidCircular-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url("../fonts/EuclidCircular-SemiBold.woff2") format("woff2"), url("../fonts/EuclidCircular-SemiBold.woff") format("woff"), url("../fonts/EuclidCircular-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url("../fonts/EuclidCircular-Bold.woff2") format("woff2"), url("../fonts/EuclidCircular-Bold.woff") format("woff"), url("../fonts/EuclidCircular-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-weight: 500;
  font-size: 72px;
  line-height: 66px;
  color: #000000;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
}

.clearfix {
  clear: both;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
}

.close-page {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.no-wrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.btn {
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-yallow {
  background-color: #FFDF31;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.btn-yallow:hover {
  background-color: #fff240;
}

.btn-yallow:active {
  background-color: #fff9a8;
}

.bth-rigth {
  font-size: 7em;
  line-height: 1;
  text-shadow: 0 0 5px #000;
  /* тень у текста */
  color: red;
  position: relative;
}

.bth-rigth::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #000;
}

.profession,
.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  border-radius: 50px;
  background: #FFFFFF;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-arrow {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
}

.info--line > .name {
  visibility: visible;
  position: absolute;
  bottom: 156px;
  left: 120px;
  z-index: 50;
}

.info--line > .profession {
  visibility: visible;
  position: absolute;
  top: 152px;
  right: 120px;
  z-index: 50;
}

.info--revers > .name {
  visibility: visible;
  position: absolute;
  top: 152px;
  left: 120px;
  z-index: 50;
}

.info--revers > .profession {
  visibility: visible;
  position: absolute;
  bottom: 156px;
  right: 120px;
  z-index: 50;
}

.info--revers p {
  visibility: visible;
}

.block__button {
  background-color: #fff;
  border-radius: 8px;
  width: 88px;
  position: relative;
}

.block__button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #F5F5F5;
}

.block__button button {
  background-color: #fff;
}

.block__button button svg {
  fill: black;
  opacity: 0.4;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.block__button button button:hover svg {
  opacity: 1;
}

.btn-next:hover svg {
  opacity: 1;
}

.btn-prev:hover svg {
  opacity: 1;
}

.close-page svg {
  display: block !important;
}

.header {
  width: 100%;
  padding: 32px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info svg {
  display: none;
}

.header__info a {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000;
}

.header__info a:last-child {
  margin-left: 32px;
}

.header-form {
  background-color: #F5F5F5;
  margin-bottom: 72px;
}

.popup__wrap {
  display: none;
}

.popup__wrap span {
  display: none;
}

.popup__wrap span.active {
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s;
  transition: .5s;
}

.prewiew {
  background-color: #F5F5F5;
  overflow: hidden;
}

.prewiew__content-wrap {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 400px;
  overflow: hidden;
}

.prewiew__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 400px;
  overflow: hidden;
}

.prewiew__slide {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100vw;
}

.prewiew__text {
  margin-top: 48px;
  margin-bottom: 62px;
  max-width: 400px;
}

.prewiew__content {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.prewiew__img {
  width: 615px;
  height: 615px;
  max-width: 615px;
  max-height: 615px;
  border-top-right-radius: 20% 50%;
  border-bottom-right-radius: 20% 50%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.prewiew__img div {
  visibility: hidden;
  position: absolute;
}

.prewiew .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  margin-top: 72px;
  overflow: hidden;
}

.card__header {
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.card__slider {
  position: relative;
  width: 2500px;
  overflow: hidden;
}

.card__slider-item {
  width: 350px;
  margin-right: 30px;
}

.card__discription {
  width: 290px;
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider__item-wrap {
  margin-right: 40px;
  width: 350px;
  height: 480px;
  background-color: #F5F5F5;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
}

.slider__item-wrap img {
  -webkit-transition: .4s;
  transition: .4s;
}

.slider__item-wrap:hover {
  background-color: #FFDF31;
}

.slider__item-wrap:hover img {
  opacity: 0;
  visibility: hidden;
}

.slider__item-wrap:hover .card__discription {
  opacity: 1;
}

.card .profession {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 24px;
  margin-left: 24px;
}

.card .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instagram {
  width: 100%;
  margin-top: 72px;
}

.instagram__inner h3 {
  margin-bottom: 32px;
}

.instagram__contant {
  overflow: hidden;
  max-height: 570px;
  height: 100%;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.instagram__contant.active {
  max-height: 1425px;
}

.instagram__contant.active {
  max-height: 1425px;
}

.instagram__contant a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.instagram__contant a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.instagram__item {
  width: 255px;
  height: 255px;
  background-color: #F5F5F5;
  display: block;
  border-radius: 8px;
  margin-right: 30px;
  margin-bottom: 30px;
  float: left;
}

.instagram__item:first-child {
  width: 540px;
  height: 540px;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.instagram__item:nth-child(3) {
  margin-right: 0;
}

.instagram__item:nth-child(5) {
  margin-right: 0;
}

.instagram__item:nth-child(9) {
  margin-right: 0;
}

.instagram__item:nth-child(13) {
  margin-right: 0;
}

.instagram__item:nth-child(17) {
  margin-right: 0;
  max-width: 100%;
}

.instagram__btn {
  margin: 0 auto;
  max-width: 100%;
}

.instagram__btn .btn-else {
  margin-bottom: 69px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

#map {
  margin-bottom: 72px;
  width: 100%;
  height: 540px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

.map h3 {
  margin-bottom: 32px;
}

.map__render {
  position: relative;
}

.map__render-wrap {
  position: relative;
}

.map__buttons {
  left: 24px;
  bottom: 24px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 200;
}

.map__buttons button {
  margin-top: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #fff;
}

.map__buttons button:first-child {
  margin-top: 0px;
}

.btn-all.active,
.natural.active,
.entity.active {
  background-color: #FFDF31;
}

.footer {
  width: 100%;
  background-color: #F5F5F5;
}

.footer__inner {
  padding-top: 72px;
}

.footer__content {
  padding: 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.footer__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social a {
  margin-right: 8px;
}

.footer__social a:last-child {
  margin-right: 0;
}

.footer__by {
  padding: 24px 0 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.footer__coppy {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.footer__coppy:hover p {
  opacity: .6;
}

.footer__data {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000077;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  overflow: auto;
  display: none;
}

.personal::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgba(247, 11, 11, 0);
  display: none;
}

.personal__inner {
  background-color: #fff;
  width: 1110px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 72px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 8px;
  z-index: 2;
}

.personal__title {
  padding: 72px 72px 0px 72px;
  position: relative;
  -webkit-transition: padding-top .5s;
  transition: padding-top .5s;
}

.personal__title.fixed {
  -webkit-transition: padding-top .3s;
  transition: padding-top .3s;
  margin: 0 0px;
  padding: 30px 95px;
  height: auto;
  position: fixed;
  width: 1110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  background-color: #fff;
}

.personal__title.fixed h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.personal__contant {
  position: relative;
}

.personal__close {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
  z-index: 1000;
}

.personal__close.fixed {
  position: fixed;
  top: 32px;
  right: 32px;
  cursor: pointer;
  z-index: 1000;
}

.personal__text {
  padding: 0px 95px 72px 95px;
}

.personal__text h3 {
  margin-top: 48px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.personal__text p {
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.personal__text span {
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #0000007e;
}

.blank__content {
  padding-bottom: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blank__form > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.blank__title {
  margin-bottom: 48px;
}

.blank__form-wrap {
  max-width: 540px;
}

/* полоса прокрутки (скроллбар) */
.checkselect-filter .dropdown-menu::-webkit-scrollbar {
  width: 3px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #75757562;
}

/* ползунок скроллбара */
.checkselect-filter .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #aaa7a9;
  border-radius: 8px;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control input,
.form-control textarea {
  width: 100%;
  border-radius: 4px;
  display: block;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  border: 2px solid #f0f0f0;
  background-color: #F5F5F5;
}

.form-control textarea {
  resize: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  text-align: left;
  background: #F5F5F5;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

.form-control input::-webkit-input-placeholder,
.form-control input::-moz-placeholder,
.form-control input:-moz-placeholder,
.form-control input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.363);
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.error input {
  background-color: #ff66665b;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form__input-title {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.form__input-title h4 {
  margin-right: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.form__input-title svg {
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
  opacity: 0;
}

.custom-select-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}

.custom-select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-width: 0 2px 0 2px;
  border: none;
}

.custom-select__trigger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  text-align: left;
  background: #F5F5F5;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  background: #F5F5F5;
  border-top: 0;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  border-right: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  border-radius: 15px 8px 15px 15px;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-option:first-child {
  border-radius: 8px 8px 0px 0px;
}

.custom-option:last-child {
  border-radius: 0px 0px 8px 8px;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}

.custom-option.selected {
  color: #000;
  background-color: #F5F5F5;
}

.form-control.error .custom-select__trigger {
  background-color: #ff66665b !important;
}

.form-control.success .form__input-title svg {
  opacity: 1;
}

.arrow {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.open .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-control-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-control-wrap .form-control {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 255px;
}

.gender {
  padding: 0 25px 0 0px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gender div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gender span {
  margin-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.gender span:first-child {
  margin-right: 10px;
}

.gender__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.gender__radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #F5F5F5;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.gender__radio:checked + label::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
  background-color: #000000;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.gender__radio:disabled + label::before {
  background-color: #666768;
}

#form-text {
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  cursor: text;
}

#form-file {
  visibility: hidden;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -50;
}

.form-file {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #0000008e;
  text-align: left;
  background: #F5F5F5;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.form-file span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-file svg {
  margin-right: 12px;
  fill: rgba(0, 0, 0, 0.424);
}

.captha-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  height: 46.5px;
  position: relative;
  background-color: #F5F5F5;
  border-radius: 8px;
  top: 0;
  right: 0px;
}

.captha-wrap img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16px;
}

.captha-wrap label {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
  cursor: pointer;
  border-radius: 8px;
}

.captha-wrap input {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.captha-wrap span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 8px;
}

.captha-wrap p {
  position: absolute;
  left: 52px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  text-align: left;
}

.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fafafa;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #0b57fb;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-control.margin {
  margin: 0;
  padding: 0;
}

.form-control.margin span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0000008e;
}

.agreement-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
}

.agreement-wrap label {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  background-color: #F5F5F5;
  cursor: pointer;
  border-radius: 8px;
}

.agreement-wrap input {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.agreement-wrap span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 8px;
}

.agreement {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .agreement {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #fafafa;
}

.agreement:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .agreement:after {
  display: block;
}

.container .agreement:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: scale(0.9) rotate(45deg);
          transform: scale(0.9) rotate(45deg);
}

.linlk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.linlk a {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.submit {
  margin-top: 24px;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  height: 47px;
}

.submit.active {
  background-color: #FFDF31;
}

.submit:disabled {
  background-color: #f4f4f4;
  padding: 5px;
  height: 47px;
}

.blank__discription-wrap {
  margin-top: 17px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 445px;
}

.blank__discription h3 {
  margin-bottom: 24px;
}

.blank__discription p {
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px;
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 8px;
}

.number a {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

@media (max-width: 1190px) {
  .container {
    max-width: 1024px;
  }
  .header__inner {
    margin: 0 39px;
  }
  .prewiew__content-wrap {
    max-width: 1024px;
  }
  .instagram__btn {
    max-width: 935px;
  }
  .instagram__inner h3 {
    margin-left: 40px;
  }
  .instagram__item:first-child {
    width: 330px;
    height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  .instagram__item:nth-child(2) {
    width: 330px;
    height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    margin-right: 0;
  }
  .instagram__item:nth-child(3) {
    margin-right: 30px;
  }
  .instagram__item:nth-child(8) {
    margin-right: 0px;
  }
  .instagram__item:nth-child(9) {
    margin-right: 30px;
  }
  .instagram__item:nth-child(11) {
    margin-right: 0px;
  }
  .instagram__item:nth-child(13) {
    margin-right: 30px;
  }
  .instagram__item:nth-child(14) {
    margin-right: 0px;
  }
  .instagram__contant {
    max-width: 965px;
    max-height: 642px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .map__render-wrap {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }
  .map h3 {
    margin-left: 45px;
  }
  .footer__content,
  .footer__by {
    margin: 0 30px;
  }
}

@media (max-width: 1043px) {
  .prewiew__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    z-index: 50;
  }
  .prewiew__img {
    height: 524px;
    width: 466px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  }
  .prewiew__text,
  .prewiew .block__button {
    margin-left: 39px;
  }
  .prewiew__text {
    max-width: 283px;
  }
  .info--line > .profession {
    right: 71px;
    top: 100px;
  }
  .info--line > .name {
    left: 70px;
    bottom: 100px;
  }
  .info--revers > .name {
    left: 62px;
    top: 100px;
  }
  .info--revers > .profession {
    right: 40px;
    bottom: 100px;
  }
  .card__header {
    width: 925px;
  }
  .card__inner {
    padding: 0 39px;
  }
  .card__slider-item {
    width: 300px;
  }
  .card .slider__item-wrap {
    width: 300px;
    height: 410px;
  }
  .card .slider__item-wrap img {
    width: inherit;
  }
  .blank__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blank__form-wrap {
    margin-top: 72px;
    margin-bottom: 72px;
  }
  .blank__discription {
    max-width: 645px;
  }
  .blank__title {
    max-width: 541px;
    margin: 0 auto;
  }
  .blank__discription,
  .blank__discription-wrap {
    max-width: 100%;
  }
  .blank__discription-wrap {
    max-width: 800px;
    margin: 0 39px;
  }
  .blank {
    overflow: hidden;
  }
  .personal__inner {
    max-width: 862px;
  }
}

@media (max-width: 970px) {
  .card .block__button {
    display: none;
  }
  .card__discription {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 0 20px;
  }
  .card__discription span {
    white-space: nowrap;
  }
  .map__render-wrap {
    max-width: 100%;
  }
  .personal__inner {
    max-width: 684px;
  }
  .personal__title {
    padding: 32px 24px 0 24px;
  }
  .personal__text {
    padding: 0 24px 32px 24px;
  }
  .card__header {
    margin-bottom: 30px;
  }
}

@media (max-width: 830px) {
  .instagram__contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 600px;
  }
  .instagram__item {
    width: 210px;
    height: 210px;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    margin-right: 30px;
    margin-bottom: 30px;
    float: none;
  }
  .instagram__item:first-child {
    width: 330px;
    height: 330px;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  .instagram__item:nth-child(2) {
    width: 330px;
    height: 330px;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  .blank__title h2 {
    font-size: 58px;
  }
}

@media (max-width: 767px) {
  .prewiew__img {
    height: 445px;
    width: 320px;
  }
  .prewiew__text,
  .prewiew .block__button {
    margin-left: 70px;
  }
  .prewiew .info--line > .profession {
    right: 22px;
    top: 70px;
  }
  .prewiew .info--line > .name {
    left: 55px;
    bottom: 70px;
  }
  .prewiew .info--revers > .name {
    left: 62px;
    top: 70px;
  }
  .prewiew .info--revers > .profession {
    right: 40px;
    bottom: 70px;
  }
  .card__header {
    margin-bottom: 30px;
  }
  .card__slider {
    width: 540px;
    overflow: visible;
  }
  .instagram h3 {
    margin-left: 0;
  }
  .instagram__item {
    width: 346px;
    height: 346px;
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .instagram__contant {
    max-width: 680px;
    max-height: 1789px;
  }
  .instagram__item:first-child {
    width: 346px;
    height: 346px;
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .instagram__item:nth-child(2) {
    width: 346px;
    height: 346px;
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .instagram__item:nth-child(3) {
    width: 346px;
    height: 346px;
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .instagram__item:nth-child(3), .instagram__item:nth-child(4), .instagram__item:nth-child(5), .instagram__item:nth-child(6), .instagram__item:nth-child(7), .instagram__item:nth-child(8), .instagram__item:nth-child(9), .instagram__item:nth-child(10), .instagram__item:nth-child(11), .instagram__item:nth-child(12), .instagram__item:nth-child(13) {
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .instagram__inner {
    width: 346px;
    margin: 0 auto;
  }
  .instagram__btn {
    width: 346px;
    max-width: 100%;
  }
  .map__render-wrap {
    max-width: 100%;
    width: 100%;
  }
  #map {
    height: 600px;
  }
  .personal__inner {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .google-map {
    height: 600px;
  }
  #map {
    height: 600px;
  }
  .footer__content,
  .footer__by {
    margin: 0 39px;
  }
  .map__buttons {
    left: 39px;
    bottom: 46px;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 1024px;
  }
  .header__info svg {
    display: block;
  }
  .header__info .header__phone {
    display: none;
  }
  .prewiew__text,
  .prewiew .block__button {
    margin-left: 40px;
  }
  .map__render-wrap {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 680px) {
  .prewiew__content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 590px;
  }
  .prewiew__content {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .prewiew__text {
    margin: 48px 0;
    width: 450px;
    max-width: 100%;
    padding: 0 20px;
    text-align: left;
  }
  .prewiew__img {
    border-radius: 0;
    width: 100%;
    max-width: 420px;
    border-top-right-radius: 200px 160px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 200px 160px;
  }
  .prewiew .info--line > .profession {
    right: 38px;
    top: 80px;
  }
  .prewiew .info--line > .name {
    left: 16px;
    bottom: 40px;
  }
  .prewiew .info--revers > .name {
    left: 40px;
    top: 70px;
  }
  .prewiew .info--revers > .profession {
    right: 40px;
    bottom: 40px;
  }
  .prewiew .block__button {
    display: none;
    visibility: hidden;
  }
  .card__inner {
    padding: 0;
  }
  .card__slider-item {
    margin: 0 8px;
  }
  .card__header {
    padding: 0 44px;
    width: 100%;
    max-width: 500px;
  }
  .slider__item-wrap {
    margin-right: 0;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__link {
    margin-top: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__link h3 {
    display: none;
  }
  .footer__by {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__coppy {
    margin-bottom: 24px;
  }
  .personal__title h2 {
    font-size: 48px;
    line-height: 44px;
  }
  .personal__text h3 {
    margin-top: 32px;
  }
  .prewiew .prewiew__text h2 {
    font-size: 52px;
  }
}

@media (max-width: 580px) {
  .container {
    max-width: 550px;
  }
  .header__inner {
    margin: 0 32px 0 15px;
    max-width: 100%;
  }
  .header__info a:last-child {
    display: none;
  }
  .blank__title h2 {
    font-size: 48px;
  }
  .blank__inner {
    padding: 0 15px;
  }
  .form-control-wrap .form-control {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .header-form {
    margin-bottom: 48px;
  }
  .blank__content {
    margin-top: 48px;
  }
  .blank__form-wrap {
    margin: 0;
  }
  .gender {
    padding: 0;
  }
  .gender div {
    margin-right: 60px;
  }
  .linlk {
    margin-top: 24px;
  }
  .agreement-wrap {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .blank__form-wrap {
    margin-bottom: 48px;
  }
  .blank__discription-wrap {
    margin: 0px 11px;
  }
  .blank__discription p:last-child {
    margin-bottom: 0px;
  }
  .number {
    margin-top: 32px;
  }
  .footer__content {
    margin: 0;
  }
  .blank__title h2 {
    padding: 0;
  }
  .personal__inner {
    width: 100%;
    position: fixed;
    overflow-y: auto;
    overflow: auto;
  }
  .popup__wrap {
    position: fixed;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #FFDF31;
    width: 100%;
    height: 47px;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 345px;
    border-radius: 8px;
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .popup__wrap.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }
  .popup__wrap span {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .popup__wrap span.active {
    opacity: 1;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

@media (max-width: 420px) {
  h2 {
    font-size: 48px;
    line-height: 44px;
  }
  .prewiew__img {
    max-width: 100%;
    height: 100%;
  }
  .prewiew__slide {
    max-width: 375px;
  }
  .prewiew__text {
    text-align: left;
    width: 360px;
  }
  .prewiew__content {
    width: 100%;
  }
  .card__slider {
    width: 420px;
  }
}

@media (max-width: 390px) {
  .card__slider {
    width: 380px;
  }
  .card .slider__item-wrap {
    width: 252px;
    height: 344px;
  }
  .card__header {
    padding-left: 0;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 362px;
  }
  .header__inner {
    margin: 0 12px;
  }
  h3 {
    font-size: 24px;
    padding-left: 15px;
    margin-left: 0;
  }
  .card {
    margin-top: 48px;
  }
  .card__discription {
    width: 100%;
  }
  .card__slider {
    width: 376px;
  }
  .card .slider__item-wrap {
    width: 252px;
    height: 344px;
  }
  .card__slider-item {
    width: 263px;
    margin: 0px 6px;
  }
  .card__header {
    padding-left: 0;
  }
  .map h3 {
    margin-left: 0px;
  }
  .footer__by {
    margin: 0 8px;
  }
  .footer__content {
    margin: 0 8px;
  }
  .personal__title {
    padding: 72px 14px 0 14px;
  }
  .personal__text h3 {
    padding: 0;
  }
  .personal__text {
    overflow-y: scroll;
  }
  .personal__inner {
    top: 0;
    height: 100%;
    overflow-y: scroll;
  }
}

@media (max-width: 370px) {
  h2 {
    font-size: 36px;
    padding: 0 20px;
  }
  .header__logo {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .prewiew__img {
    max-width: 100%;
    height: 100%;
  }
  .prewiew__slide {
    max-width: 320px;
  }
  .prewiew__text {
    text-align: left;
    width: 360px;
  }
}

@media (max-width: 350px) {
  .instagram__inner {
    width: 320px;
  }
  .instagram__item {
    width: 320px;
    height: 320px;
  }
  .instagram__contant {
    max-width: 320px;
    max-height: 1738px;
  }
  .instagram__item:first-child, .instagram__item:nth-child(2), .instagram__item:nth-child(3), .instagram__item:nth-child(4), .instagram__item:nth-child(5), .instagram__item:nth-child(6), .instagram__item:nth-child(7), .instagram__item:nth-child(8), .instagram__item:nth-child(9), .instagram__item:nth-child(10), .instagram__item:nth-child(11), .instagram__item:nth-child(12), .instagram__item:nth-child(13) {
    width: 320px;
    height: 320px;
    margin-bottom: 12px;
  }
  .instagram .btn-else {
    width: 320px;
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 36px;
    padding: 0 20px;
  }
  .blank__title h2 {
    font-size: 36px;
    padding: 0 20px;
  }
  h3 {
    font-size: 24px;
    line-height: 24px;
    width: 80%;
  }
  .container {
    max-width: 320px;
  }
  .header {
    padding: 32px 15px;
  }
  .header__logo {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .prewiew__img {
    max-width: 100%;
    height: 100%;
  }
  .prewiew__slide {
    max-width: 320px;
  }
  .prewiew__text {
    text-align: left;
    width: 360px;
  }
  .card__slider-item {
    width: 252px;
  }
  .card__slider {
    width: 320px;
  }
}
/*# sourceMappingURL=slyle.css.map */