include /atoms/icon/icon.pug

mixin item-contacts(props={info: false, className: ''})
  if (props.info)

    .item-contacts(class=props.className)
      if props.info.email
        .item-contacts__wrap
          if props.info.email.icon
            +icon({info: props.info.email.icon, className: 'item-contacts__icon'})
          a.item-contacts__email(href= props.info.email.href)= props.info.email.text

      if props.info.phone
        .item-contacts__wrap
          if props.info.phone.icon
            +icon({info: props.info.phone.icon, className: 'item-contacts__icon'})
          if props.info.phone
            a.item-contacts__phone.text-heading-2-1(href= props.info.phone.href)= props.info.phone.text