include /atoms/item/person/item-person.pug
include /atoms/item/service/card/item-service-card.pug

mixin list-service-cards(props= {info: false, className: ''})
  .list-service-cards(class= props.className)
    for card in props.info
      if card.image
        .list-service-cards__item(data-anim='fadeUp', data-delay='0.2')
          +item-person({info: card, className: (card.isBig ? 'item-person--big' : 'item-person--small')})
      else
        .list-service-cards__item(data-anim='fadeUp', data-delay='0.2')
          +item-service-card({info: card, className: 'list-service-cards__item-container'})
