include /molecules/list/clients/list-clients.pug

mixin section-clients(props= {info: false, className: ''})
  if props.info
    .section-clients
      if props.info.title
        .section-clients__title.text-heading-2.topline(data-anim='fadeUp', data-delay='0.2')= props.info.title
      if props.info.text
        .section-clients__text.text(data-anim='fadeUp', data-delay='0.4')= props.info.text
      if props.info.list
        +list-clients({info: props.info.list, 
          className: 'section-clients__list',
          attrs: {'data-anim': 'fadeUp', 'data-delay': '0.6'}
          })
