$parent: field-input;

@include block($parent) {
  display: block;
  font-size: rem(14);
  margin-bottom: rem(10);
  height: rem(46);
  width: 100%;
  border: 1px solid rgba($primary, 0.15);
  border-radius: rem(4);
  overflow: hidden;
  background-color: $white;

  &:not([data-invalid]):hover {
    border-color: $green;
    transition: border-color $ease;
  }

  &[data-invalid] {
    border: 1px solid $red;

    @include element($parent, 'input') {
      color: $red;

      &::placeholder {
        color: $red;
      }
    }
  }

  @include element($parent, 'input') {
    width: 100%;
    height: 100%;
    font-size: rem(14);
    line-height: rem(22);
    padding-left: rem(20);
  }
}
