@import "~@atoms/link/link.scss";

$parent: footer;

@include block($parent) {
  padding-top: rem(57);
  padding-bottom: rem(58);
  background-color: $primary;
  color: $white;

  @include min-media('t') {
    padding-top: rem(46);
    padding-bottom: rem(34);
  }

  @include min-media('xl') {
    padding-bottom: rem(50);
  }

  a {
    color: $white;
  }

  @include element($parent, 'wrapper') {
    @include min-media('t') {
      display: flex;
      flex-wrap: wrap;
    }

    @include min-media('xl') {
      justify-content: space-between;
    }
  }

  @include element($parent, 'contacts') {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: rem(40);

    @include min-media('t') {
      margin-bottom: rem(50);
    }

    @include min-media('xl') {
      margin-bottom: rem(42);
      order: -1;
    }
  }

  @include element($parent, 'mail') {
    margin-bottom: rem(8);
    font-weight: 400;

    @include min-media('t') {
      margin-bottom: rem(7);
    }
  }

  @include element($parent, 'phone') {
    &:hover {
      color: $green;
      transition: color $ease;
    }
  }

  @include element($parent, 'menu') {
    display: flex;
    flex-wrap: wrap;

    @include min-media('t') {
      margin: rem(-8) rem(-45);
    }

    @include min-media('xl') {
      margin: 0;
    }
  }

  @include element($parent, 'nav') {
    margin-bottom: rem(24);

    @include min-media('t') {
      width: 100%;
      margin-bottom: rem(80);
    }

    @include min-media('xl') {
      width: 70%;
      margin-bottom: 0;
      order: 2;
    }
  }

  @include element($parent, 'menu-item') {
    width: 50%;
    margin-bottom: rem(16);
    white-space: nowrap;

    &:hover {
      & > a {
        color: $green;
        transition: color $ease;
      }
    }

    @include min-media('t') {
      width: calc(25% - #{rem(90)});
      margin: rem(8) rem(45);
    }

    @include min-media('xl') {
      width: calc(25% - #{rem(68)});
      margin-left: 0;
    }
  }

  @include element($parent, 'nav-link') {
    font-weight: 600;
  }

  @include element($parent, 'feedback') {
    margin-bottom: rem(46);
    display: inline-block;

    @include min-media('xl') {
      align-self: flex-end;
      order: 1;
    }
  }

  @include element($parent, 'copyright') {
    @include min-media('t') {
      margin: 0 0 0 auto;
      text-align: right;
    }

    @include min-media('xl') {
      padding-top: rem(7);
      order: 3;
    }
  }

  @include element($parent, 'rights') {
    font-weight: normal;
  }

  @include element($parent, 'developer') {
    margin-bottom: rem(15);
  }
}
