@import "~@atoms/picture/picture.scss";
@import "~@base/styles/_swiper.scss";
@import "~@atoms/link/link.scss";
@import "~@molecules/breadcrumbs/breadcrumbs.scss";

$parent: section-firstscreen;

@include block($parent) {
  padding: 0;
  color: $white;
  position: relative;

  @include modifier($parent, 'about') {
    .section-firstscreen__container {
      padding-top: rem(118);
      padding-bottom: rem(84);
      min-height: rem(470);
    }

    @include element($parent, 'logo') {
      width: rem(500);
      height: rem(561);
      top: rem(42);
      right: rem(-30);
    }
  }

  @include element($parent, 'title') {
    @include min-media('t') {
      font-size: rem(32);
    }

    @include min-media('xxl') {
      font-size: rem(42);
    }
  }

  @include element($parent, 'text') {
    font-size: rem(20);
    line-height: rem(32);
    margin-top: rem(40);
    font-family: $OpenSans;
    font-weight: 400;
  }

  @include element($parent, 'link') {
    color: $white;
    margin-top: rem(40);
  }

  @include element($parent, 'image') {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    img {
      object-fit: cover;
      object-position: center top;
      font-family: 'object-fit: cover;object-position: center top;';
    }
  }

  @include element($parent, 'logo') {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;

    img {
      object-fit: initial;
      font-family: "object-fit: initial;";
    }

    @include max-media('dMax') {
      display: none;
    }
  }

  @include element($parent, 'shadow') {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blue-dark;
    opacity: 0.5;
  }

  @include element($parent, 'bottom') {
    position: absolute;
    z-index: 4;
    height: rem(50);
    width: 100%;
    left: 0;
    bottom: -1px;

    img {
      width: 100%;
      height: rem(50);
      object-fit: initial;
      font-family: "object-fit: initial;";
      background-size: 100% 100%;
    }
  }

  @include element($parent, 'mouse') {
    position: absolute;
    z-index: 4;
    height: rem(70);
    width: rem(70);
    left: 50%;
    margin-left: rem(-35);
    bottom: rem(-35);
    background-color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: rem(18);
      height: rem(30);
      object-fit: initial;
      font-family: "object-fit: initial;";
      top: 0;
      animation-name: mouse;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-duration: 1s;
      animation-timing-function: ease-in;
    }
  }

  @include element($parent, 'controls') {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: rem(101);
    width: 100%;

    @include min-media('t') {
      bottom: rem(155);
    }

    @include min-media('xl') {
      bottom: rem(101);
    }
  }

  @include element($parent, 'container') {
    position: relative;
    padding-top: rem(250);
    padding-bottom: rem(195);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: rem(700);

    @include min-media('t') {
      padding-bottom: rem(251);
      padding-top: rem(160);
    }

    @include min-media('xl') {
      padding-bottom: rem(227);
    }

    @include min-media('xxxl') {
      padding-bottom: rem(207);
      padding-top: rem(180);
    }
  }

  @include modifier($parent, 'small') {
    @include element($parent, 'container') {
      min-height: rem(480);
      padding-top: rem(120);
      padding-bottom: rem(120);

      @include min-media('t') {
        padding-top: rem(120);
        padding-bottom: rem(120);
      }

      @include min-media('xl') {
        padding-top: rem(120);
        padding-bottom: rem(120);
      }

      @include min-media('xxxl') {
        padding-top: rem(120);
        padding-bottom: rem(120);
      }
    }
  }
}

@keyframes mouse {
  0% {
    margin-top: -6px;
  }

  100% {
    margin-top: 6px;
  }
}
