include /atoms/btn/btn.pug
include /atoms/picture/picture.pug
include /molecules/breadcrumbs/breadcrumbs.pug

mixin section-firstscreen(props={info: false, className: ''})
	.section-firstscreen.lazyload(class=props.className)
		.swiper-container
			if props.info.logo
				+picture({info: props.info.logo, className: 'section-firstscreen__logo'})
			if props.info.bottom
				+picture({info: props.info.bottom, className: 'section-firstscreen__bottom'})
			.swiper-wrapper
				each slide, index in props.info.slider
					.swiper-slide
						.section-firstscreen__shadow
						+picture({info: slide.image, className: 'section-firstscreen__image'})
						.section-firstscreen__container.container
							if slide.breadcrumbs
								+breadcrumbs({info: slide.breadcrumbs})
							if slide.title
								.section-firstscreen__title.text-heading-1(data-anim='fadeUp', data-delay='0.2')!= slide.title
							if slide.text
								.section-firstscreen__text(data-anim='fadeUp', data-delay='0.4')!= slide.text
							if slide.link
								- var attrs= slide.link.popup ? {'data-popup': true} : slide.link.attrs
								+link({info: slide.link, className: 'section-firstscreen__link link--white', attrs: attrs})
		if props.info.slider.length > 1
			.section-firstscreen__controls
				.container.swiper-pagination__controls-container
					.swiper-pagination__controls-wrapper
						.swiper-pagination
						button.swiper__button.swiper__button--prev
						button.swiper__button.swiper__button--next
		if props.info.mouse
			+picture({info: props.info.mouse, className: 'section-firstscreen__mouse'})
