$parent: "picture";

@include block($parent) {
  display: block;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }

  @include modifier($parent, 'contain') {
    img {
      object-fit: contain;
      font-family: 'object-fit: contain;';
    }
  }

  @include modifier($parent, 'border-radius') {
    border-radius: rem(4);
    overflow: hidden;
    transform: translateZ(0);
  }
}
