$parent: socials;

@include block($parent) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-top: rem(40);

  @include min-media('xl') {
    margin-left: rem(20);
    margin-right: rem(15);
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: rem(1);
    top: 0;
    background-color: $gray-dark;
  }

  @include element($parent, 'icon') {
    display: flex;
    align-items: center;
    margin-top: rem(38);

    @include min-media('t') {
      margin-top: 0;
    }
  }

  @include element($parent, 'text') {
    margin-right: rem(30);
    font: 400 rem(14) / rem(22) 'Montserrat';
    opacity: 0.7;
  }

  @include element($parent, 'btn') {
    color: $primary;
    width: rem(260);
    font-size: rem(18);
    line-height: rem(18);
    font-weight: 600;
    padding: rem(19) 0 !important;
    text-align: center;
  }
}
