include /atoms/picture/picture.pug

mixin item-service-card(props={info: false, className: ''})
  if (props.info)
    .item-service-card(class=props.className)
      if props.info.link
        a.item-service-card__card-link(href= props.info.link.href)
      .item-service-card__wrap
        if props.info.label
          .item-service-card__label= props.info.label
        if props.info.title
          p.text-heading-2.item-service-card__title= props.info.title
        if props.info.text
          p.text.item-service-card__text= props.info.text
        if props.info.link
          +link({info: props.info.link, className: 'item-service-card__link link--line'})
        if props.info.picture
          +picture({info: props.info.picture, className: 'item-service-card__img'})
