$parent: item-service-card;

@include block($parent) {
  background-color: $gray-light;
  border-radius: rem(4);
  padding: 0 rem(30) rem(52);
  display: flex;
  align-items: flex-end;
  position: relative;

  @include element($parent, 'label') {
    font-size: rem(14);
    text-transform: uppercase;
    font-family: $OpenSans;
    font-weight: bold;
    transition: color $ease;
  }

  @include element($parent, 'title') {
    transition: color $ease;
  }

  @include element($parent, 'text') {
    font-size: rem(14);
    font-family: $OpenSans;
    line-height: rem(22);
    margin-top: rem(20);
    max-width: rem(250);
  }

  @include element($parent, 'link') {
    margin-top: rem(30);
  }

  @include element($parent, 'card-link') {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  @include element($parent, 'img') {
    @include max-media('mMax') {
      margin-top: rem(20);
      margin-bottom: rem(-30);
    }

    @include min-media('t') {
      position: absolute;
      right: rem(-30);
      top: 0;
      bottom: 0;
      width: 50%;

      img {
        object-fit: contain;
        object-position: top right;
        font-family: "object-fit: contain; object-position: top right;";
      }
    }
  }

  &:hover {
    @include element($parent, 'link') {
      color: $green;
    }

    @include element($parent, 'label') {
      color: $green;
    }

    @include element($parent, 'title') {
      color: $green;
    }
  }
}
