$parent: section-application;

@include block($parent) {
  position: relative;
  min-height: rem(657);
  padding-top: rem(64);
  background-color: $primary;
  color: $white;
  border-radius: rem(4);

  @include min-media('t') {
    min-height: rem(890);
    padding-top: rem(94);
    border-radius: 0;
  }

  @include min-media('xl') {
    min-height: rem(500);
    padding-top: rem(114);
  }

  @include min-media('xxl') {
    width: 1440px;
    margin: 0 auto;
    border-radius: rem(4);
  }

  @include element($parent, 'wrapper') {
    @include min-media('xl') {
      display: flex;
    }
  }

  @include element($parent, 'description') {
    position: relative;
    z-index: 5;

    @include min-media('xl') {
      width: rem(624);
      order: 2;
    }

    & + .section-application__img {
      padding-top: rem(320);

      @include min-media('t') {
        padding-top: rem(500);
      }

      @include min-media('xl') {
        padding-top: 0;
      }
    }
  }

  @include element($parent, 'title') {
    margin-bottom: rem(30);

    @include min-media('t') {
      margin-bottom: rem(50);
    }
  }

  @include element($parent, 'text') {
    margin-bottom: rem(30);
    color: $white;

    @include min-media('t') {
      margin-bottom: rem(50);
      width: rem(490);
    }
  }

  @include element($parent, 'link') {
    @include min-media('xl') {
      margin-bottom: rem(40);
    }
  }

  @include element($parent, 'img') {
    @include min-media('xl') {
      position: relative;
      width: 50%;
    }
  }

  @include element($parent, 'picture') {
    position: absolute;
    top: auto;
    left: calc(50% - #{rem(303)});
    bottom: rem(-49);

    & > img {
      width: rem(648);

      @include min-media('t') {
        width: auto;
      }
    }

    @include min-media('t') {
      left: calc(50% - #{rem(500)});
      top: auto;
      bottom: rem(-64);
    }

    @include min-media('xl') {
      position: absolute;
      top: rem(-66);
      left: rem(-238);
      bottom: auto;
    }
  }
}
