body {
   margin: 0;
   background-color: rgba(128, 192, 235, 0.658);
   text-align: center;
   background-color: #000;
   background-repeat: no-repeat;
   background-size: 100%;
   font-size: 108px;
   color: turquoise;
}

*{
   box-sizing: border-box;
}

.container {
   display: flex;
   background-color: #ffbe76;
   height: 100vh;
   justify-content: space-around;
   align-items: center;
}

.card {
   perspective: 1000px;
   transform-style: preserve-3d;
}

.card-item {
   background-color: #fff;
   width: 350px;
   height: 525px;
   transition: transform 0.2s;
   background-image: url(../img/cosmos1.jpg);
}

img {
   width: 100%;
}

img:last-child {
   height: 100%;
}

