
.slider {
   display: none;
}

.button__massive {

   height: 80%;
   width: 80%;
   margin: 0;
}

.slider__img {
   height: 300px;
   width: 300px;
   margin: auto;
   .cosmos__img {
      width: 100%;
      height: 70%;
   }
}

.slider__infinity__wrap {
   display: none;
   height: 300px;
   width: 300px;
   margin: auto;
   position: relative;
   .infinity__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70%;
      opacity: 1;
      transition: all ease 1s;
   }
}

.infinity__slider .opacity0 {
   opacity: 0;
}