@font-face{font-family:Montserrat;src:url(./../../assets/fonts/Montserrat-Regular.woff) format("woff"),url(./../../assets/fonts/Montserrat-Regular.ttf) format("truetype");font-weight:400;font-style:normal}@font-face{font-family:Montserrat;src:url(./../../assets/fonts/Montserrat-SemiBold.woff) format("woff"),url(./../../assets/fonts/Montserrat-SemiBold.ttf) format("truetype");font-weight:600;font-style:normal}@font-face{font-family:Montserrat;src:url(./../../assets/fonts/Montserrat-Bold.woff) format("woff"),url(./../../assets/fonts/Montserrat-Bold.ttf) format("truetype");font-weight:700;font-style:normal}@font-face{font-family:OpenSans;src:url(./../../assets/fonts/OpenSans-Regular.woff) format("woff"),url(./../../assets/fonts/OpenSans-Regular.ttf) format("truetype");font-weight:400;font-style:normal}@font-face{font-family:OpenSans;src:url(./../../assets/fonts/OpenSans-SemiBold.woff) format("woff"),url(./../../assets/fonts/OpenSans-SemiBold.ttf) format("truetype");font-weight:600;font-style:normal}@font-face{font-family:Rubik;src:url(./../../assets/fonts/Rubik-Regular.woff) format("woff"),url(./../../assets/fonts/Rubik-Regular.ttf) format("truetype");font-weight:400;font-style:normal}.text-heading{color:#1f1c2d}.text-heading-1{font:700 2.125rem/2.5625rem Montserrat,sans-serif}.text-heading-2-1{font:700 1.5rem/2.125rem Montserrat,sans-serif}.text-heading-2{position:relative;font:700 1.375rem/1.9375rem Montserrat,sans-serif}.text-heading-3{font:600 1.25rem/1.625rem Montserrat,sans-serif}.text-heading-4{font:600 1.25rem/1.875rem Montserrat,sans-serif}.text-heading-5{font:600 1.125rem/1.375rem Montserrat,sans-serif}.text-heading-6{font:600 .875rem/1.25rem Montserrat,sans-serif}.text{font:400 .875rem/1.375rem OpenSans,sans-serif;color:#1f1c2d;opacity:.7}.text--no-opacity{opacity:1}.text-extrasmall{font:400 .75rem/1.0625rem OpenSans,sans-serif;color:#1f1c2d;opacity:.7}.text-extrasmall>a:hover{color:#2ab8c4}.text-extrasmall>a:active{color:#17828b}.text-link{font:600 1.125rem/1.125rem Montserrat,sans-serif;color:#121930}.text-link-2{font:600 1rem/1rem Montserrat,sans-serif;color:#121930}.text-small{font:600 .875rem/.875rem OpenSans,sans-serif}.text-big{font:600 1.125rem/1.125rem OpenSans,sans-serif}.text-frame{font:600 1rem/1.625rem Montserrat,sans-serif}.text-lable{font:400 1rem/1.375rem Rubik,sans-serif;opacity:.7}.topline:before{content:"";position:absolute;top:-.875rem;left:0;width:2.25rem;height:.25rem;background-color:#2ab8c4}.section{padding-top:2.5rem;padding-bottom:2.5rem}.section:first-child{padding-top:0}.section--pb-0,.section:last-child{padding-bottom:0}.section--pt-0{padding-top:0}.section-top{margin-top:9.75rem}.section-bottom{margin-bottom:9.375rem}.user-text ul{padding-left:1.25rem}.user-text li{margin-top:.9375rem;padding-left:1.1875rem;position:relative}.user-text li:before{content:"";position:absolute;left:0;top:.75rem;width:.25rem;height:.25rem;border-radius:50%;background:#2ab8c4}.user-text h5{padding-left:1.25rem;font-size:1rem;font-weight:700;margin-top:1.875rem}.mb-16{margin-bottom:1rem}.mb-30{margin-bottom:1.875rem}.mb-40{margin-bottom:2.5rem}.mb-60{margin-bottom:3.75rem}.icon{display:flex;align-items:center;justify-content:center}.item-news{margin-right:.625rem;padding:2.5rem 1.25rem 3rem;margin-bottom:.625rem;background-color:#f0f2f9;border-radius:.25rem;width:19.375rem;flex-shrink:0;align-self:stretch;position:relative}.item-news.item-news--grid{min-height:15.4375rem}.item-news.item-news--grid .item-news__desc{display:block;display:-webkit-box;font-size:.875rem;max-height:66px;line-height:1.375rem;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:3}.item-news .item-news__card{position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}.item-news .item-news__card:hover~.item-news__wrap>.item-news__link,.item-news .item-news__card:hover~.item-news__wrap>.item-news__title{color:#2ab8c4}.item-news .item-news__lable{display:block;display:-webkit-box;font-size:1rem;max-height:22px;line-height:1.375rem;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;font:400 1rem/1.375rem Rubik,sans-serif;opacity:.7;font-weight:400}.item-news .item-news__lable+.item-news__title{margin-top:.9375rem}.item-news .item-news__lable+.item-news__desc{margin-top:1.25rem}.item-news .item-news__title{font-size:1.25rem;max-height:78px;line-height:1.625rem;-webkit-line-clamp:3;max-width:16.875rem;transition:color .3s ease}.item-news .item-news__desc,.item-news .item-news__title{display:block;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;margin-bottom:1.875rem}.item-news .item-news__desc{font-size:.875rem;max-height:88px;line-height:1.375rem;-webkit-line-clamp:4;font-weight:400;letter-spacing:-.000625rem}.item-news .item-news__link{font-weight:600;font-size:1.125rem;letter-spacing:-.0625rem}.item-person{display:flex;align-items:flex-end;position:relative;padding:1.875rem 1.875rem 3.125rem;width:100%;height:31.5rem;color:#fff;overflow:hidden}.item-person:hover .item-person__link-text{color:#2ab8c4;transition:color .3s ease}.item-person .item-person__img{display:block;position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;transform:translateZ(0)}.item-person .item-person__img>img{width:100%;height:100%;object-fit:cover;object-position:top right;font-family:"object-fit: cover;object-position: top right;"}.item-person .item-person__img:before{content:"";position:absolute;left:0;top:0;right:0;bottom:0;background:linear-gradient(180deg,rgba(0,0,0,.23),transparent 46.92%,rgba(0,0,0,.49));z-index:1}.item-person .item-person__title{margin-bottom:1.875rem;font:600 1.375rem/1.8125rem Montserrat,sans-serif}.item-person .item-person__title.item-person__title--nobr{white-space:nowrap}.item-person .item-person__text{width:11.75rem;position:absolute;bottom:1.25rem;left:1.25rem;color:#fff;opacity:1;transition:color .3s ease;z-index:40;display:block;display:-webkit-box;font-size:1.125rem;max-height:43.2px;line-height:1.35rem;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2}.item-person .item-person__link{position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}.item-person.item-person--small{padding:0 0 2.625rem 1.875rem}.item-person.item-person--small .item-person__title{font-size:2.125rem;line-height:3rem;margin-bottom:0;transition:color .3s ease}.item-person.item-person--small .item-person__label{font-size:.875rem;text-transform:uppercase;font-family:OpenSans,sans-serif;font-weight:700;transition:color .3s ease}.item-person.item-person--small:hover .item-person__label,.item-person.item-person--small:hover .item-person__title{color:#2ab8c4}.item-person.item-person--big{padding:2.5rem}.item-person.item-person--big .item-person__title{font-size:2.125rem;line-height:3rem;margin-bottom:0;transition:color .3s ease}.item-person.item-person--big .item-person__label{font-size:.875rem;text-transform:uppercase;font-family:OpenSans,sans-serif;font-weight:700;transition:color .3s ease}.item-person.item-person--big:hover .item-person__label,.item-person.item-person--big:hover .item-person__title{color:#2ab8c4}.item-person.item-person--aside{width:100%;height:18.75rem}.list-news{overflow-y:hidden;display:flex;align-items:center;overflow-x:auto;margin-bottom:-.625rem}.list-news.list-news--grid{flex-wrap:wrap;margin-bottom:3.125rem}.list-news.list-news--grid .list-news__item{padding-left:1.875rem;margin-right:0;margin-bottom:.625rem;width:100%}.list-news.list-news--grid-flex{display:flex}.list-news .list-news__item{width:310px;width:19.375rem;margin-right:.625rem;float:left}.list-news .list-news__item-person{margin-bottom:.625rem}.btn.btn--white{display:block;width:16.25rem;height:3.5rem;border:.0625rem solid #2ab8c4;border-radius:.25rem}.btn.btn--white:before{display:none}.btn.btn--white:hover{background-color:#2ab8c4;color:#fff;transition:background-color .3s ease,color .3s ease}.btn.btn--white:active{background-color:#17828b;transition:background-color .3s ease}.btn.btn--center{margin:0 auto}.btn .btn__text{font:600 1.125rem/1.125rem OpenSans,sans-serif}.btn.btn--hide{display:none}@media (min-width:768px){.text-heading-1{font-size:3rem;line-height:3.625rem}.text-heading-2,.text-heading-2-1{font-size:2.125rem;line-height:3rem}.text-heading-3{font-size:1.375rem;line-height:1.8125rem}.text{font-size:1rem;line-height:180%}.text-frame{font-size:1rem;line-height:1.625rem}.section{padding-top:3.125rem;padding-bottom:3.125rem}.section--pt-0{padding-top:0}.item-news{padding:2.5rem 1.875rem 3rem;width:24.375rem}.item-news .item-news__title{font-size:1.375rem;max-height:58px;line-height:1.8125rem;-webkit-line-clamp:2;margin-bottom:1.875rem;max-width:19.75rem}.item-news .item-news__desc,.item-news .item-news__title{display:block;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical}.item-news .item-news__desc{font-size:.875rem;max-height:66px;line-height:1.375rem;-webkit-line-clamp:3}.item-person{width:100%;border-top-left-radius:.25rem;border-top-right-radius:.25rem}.item-person .item-person__title{width:46%}.item-person.item-person--big .item-person__title{font-size:3.625rem;line-height:4.375rem}.list-news.list-news--grid{margin:-.3125rem -.3125rem 3.125rem}.list-news.list-news--grid .list-news__item{width:calc(50% - .625rem);margin:.3125rem}.list-news .list-news__item{width:24.375rem;flex-shrink:0}.list-news .list-news__item-person{margin:.3125rem}}@media (min-width:1024px){.section{padding-top:5rem;padding-bottom:5rem}.section--pt-0{padding-top:0}}@media (min-width:1280px){.item-person{border-radius:.25rem;width:calc(33.33% - .625rem);float:right}.item-person:hover .item-person__img img{transform:scale(1.2);transition:transform .3s ease}.item-person .item-person__img>img{transform:scale(1);transition:transform .3s ease}.item-person .item-person__title{width:100%}.list-news{overflow-x:hidden;margin:0 -.3125rem}.list-news.list-news--grid{display:block;margin-bottom:3.75rem;flex-wrap:wrap;clear:both}.list-news.list-news--grid .list-news__item{width:calc(33.33% - .625rem)}.list-news .list-news__item{margin:0 .3125rem;width:calc(33.33333% - .625rem)}}@media (min-width:1440px){.text-heading-1{font-size:3.625rem;line-height:4.375rem}.text-frame{font-size:1.75rem;line-height:2.8125rem}}
.flatpickr-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
          animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: absolute;
  width: 307.875px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  background: #fff;
  -webkit-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,0.08);
          box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,0.08);
}
.flatpickr-calendar.open,
.flatpickr-calendar.inline {
  opacity: 1;
  max-height: 640px;
  visibility: visible;
}
.flatpickr-calendar.open {
  display: inline-block;
  z-index: 99999;
}
.flatpickr-calendar.animate.open {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
          animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: 2px;
}
.flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 2px);
}
.flatpickr-calendar.static.open {
  z-index: 999;
  display: block;
}
.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  -webkit-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
          box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
}
.flatpickr-calendar .hasWeeks .dayContainer,
.flatpickr-calendar .hasTime .dayContainer {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.flatpickr-calendar .hasWeeks .dayContainer {
  border-left: 0;
}
.flatpickr-calendar.hasTime .flatpickr-time {
  height: 40px;
  border-top: 1px solid #e6e6e6;
}
.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto;
}
.flatpickr-calendar:before,
.flatpickr-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  left: 22px;
}
.flatpickr-calendar.rightMost:before,
.flatpickr-calendar.arrowRight:before,
.flatpickr-calendar.rightMost:after,
.flatpickr-calendar.arrowRight:after {
  left: auto;
  right: 22px;
}
.flatpickr-calendar.arrowCenter:before,
.flatpickr-calendar.arrowCenter:after {
  left: 50%;
  right: 50%;
}
.flatpickr-calendar:before {
  border-width: 5px;
  margin: 0 -5px;
}
.flatpickr-calendar:after {
  border-width: 4px;
  margin: 0 -4px;
}
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  bottom: 100%;
}
.flatpickr-calendar.arrowTop:before {
  border-bottom-color: #e6e6e6;
}
.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #fff;
}
.flatpickr-calendar.arrowBottom:before,
.flatpickr-calendar.arrowBottom:after {
  top: 100%;
}
.flatpickr-calendar.arrowBottom:before {
  border-top-color: #e6e6e6;
}
.flatpickr-calendar.arrowBottom:after {
  border-top-color: #fff;
}
.flatpickr-calendar:focus {
  outline: 0;
}
.flatpickr-wrapper {
  position: relative;
  display: inline-block;
}
.flatpickr-months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flatpickr-months .flatpickr-month {
  background: transparent;
  color: rgba(0,0,0,0.9);
  fill: rgba(0,0,0,0.9);
  height: 34px;
  line-height: 1;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 34px;
  padding: 10px;
  z-index: 3;
  color: rgba(0,0,0,0.9);
  fill: rgba(0,0,0,0.9);
}
.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
  display: none;
}
.flatpickr-months .flatpickr-prev-month i,
.flatpickr-months .flatpickr-next-month i {
  position: relative;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
/*
      /*rtl:begin:ignore*/
/*
      */
  left: 0;
/*
      /*rtl:end:ignore*/
/*
      */
}
/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
/*
      /*rtl:begin:ignore*/
/*
      */
  right: 0;
/*
      /*rtl:end:ignore*/
/*
      */
}
/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
  color: #959ea9;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: #f64747;
}
.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 14px;
  height: 14px;
}
.flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-months .flatpickr-next-month svg path {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit;
}
.numInputWrapper {
  position: relative;
  height: auto;
}
.numInputWrapper input,
.numInputWrapper span {
  display: inline-block;
}
.numInputWrapper input {
  width: 100%;
}
.numInputWrapper input::-ms-clear {
  display: none;
}
.numInputWrapper input::-webkit-outer-spin-button,
.numInputWrapper input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(57,57,57,0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.numInputWrapper span:hover {
  background: rgba(0,0,0,0.1);
}
.numInputWrapper span:active {
  background: rgba(0,0,0,0.2);
}
.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute;
}
.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0;
}
.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(57,57,57,0.6);
  top: 26%;
}
.numInputWrapper span.arrowDown {
  top: 50%;
}
.numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(57,57,57,0.6);
  top: 40%;
}
.numInputWrapper span svg {
  width: inherit;
  height: auto;
}
.numInputWrapper span svg path {
  fill: rgba(0,0,0,0.5);
}
.numInputWrapper:hover {
  background: rgba(0,0,0,0.05);
}
.numInputWrapper:hover span {
  opacity: 1;
}
.flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 7.48px 0 0 0;
  line-height: 1;
  height: 34px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}
.flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  margin-left: 0.5ch;
  padding: 0;
}
.flatpickr-current-month span.cur-month:hover {
  background: rgba(0,0,0,0.05);
}
.flatpickr-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0;
  display: inline-block;
}
.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(0,0,0,0.9);
}
.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(0,0,0,0.9);
}
.flatpickr-current-month input.cur-year {
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  cursor: text;
  padding: 0 0 0 0.5ch;
  margin: 0;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: auto;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.flatpickr-current-month input.cur-year:focus {
  outline: 0;
}
.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(0,0,0,0.5);
  background: transparent;
  pointer-events: none;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
  appearance: menulist;
  background: transparent;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  height: auto;
  line-height: inherit;
  margin: -1px 0 0 0;
  outline: none;
  padding: 0 0 0 0.5ch;
  position: relative;
  vertical-align: initial;
  -webkit-box-sizing: border-box;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  width: auto;
}
.flatpickr-current-month .flatpickr-monthDropdown-months:focus,
.flatpickr-current-month .flatpickr-monthDropdown-months:active {
  outline: none;
}
.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
  background: rgba(0,0,0,0.05);
}
.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  background-color: transparent;
  outline: none;
  padding: 0;
}
.flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
}
.flatpickr-weekdays .flatpickr-weekdaycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
span.flatpickr-weekday {
  cursor: default;
  font-size: 90%;
  background: transparent;
  color: rgba(0,0,0,0.54);
  line-height: 1;
  margin: 0;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bolder;
}
.dayContainer,
.flatpickr-weeks {
  padding: 1px 0 0 0;
}
.flatpickr-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 307.875px;
}
.flatpickr-days:focus {
  outline: 0;
}
.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
.dayContainer + .dayContainer {
  -webkit-box-shadow: -1px 0 0 #e6e6e6;
          box-shadow: -1px 0 0 #e6e6e6;
}
.flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #393939;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
      -ms-flex-preferred-size: 14.2857143%;
          flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6;
}
.flatpickr-day.today {
  border-color: #959ea9;
}
.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
  border-color: #959ea9;
  background: #959ea9;
  color: #fff;
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #569ff7;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border-color: #569ff7;
}
.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange {
  border-radius: 50px 0 0 50px;
}
.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
  border-radius: 0 50px 50px 0;
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #569ff7;
          box-shadow: -10px 0 0 #569ff7;
}
.flatpickr-day.selected.startRange.endRange,
.flatpickr-day.startRange.startRange.endRange,
.flatpickr-day.endRange.startRange.endRange {
  border-radius: 50px;
}
.flatpickr-day.inRange {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
          box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: rgba(57,57,57,0.3);
  background: transparent;
  border-color: transparent;
  cursor: default;
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  cursor: not-allowed;
  color: rgba(57,57,57,0.1);
}
.flatpickr-day.week.selected {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
          box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
}
.flatpickr-day.hidden {
  visibility: hidden;
}
.rangeMode .flatpickr-day {
  margin-top: 1px;
}
.flatpickr-weekwrapper {
  float: left;
}
.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 12px;
  -webkit-box-shadow: 1px 0 0 #e6e6e6;
          box-shadow: 1px 0 0 #e6e6e6;
}
.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
  line-height: 28px;
}
.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
  display: block;
  width: 100%;
  max-width: none;
  color: rgba(57,57,57,0.3);
  background: transparent;
  cursor: default;
  border: none;
}
.flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.flatpickr-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flatpickr-time:after {
  content: "";
  display: table;
  clear: both;
}
.flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 40%;
  height: 40px;
  float: left;
}
.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #393939;
}
.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: #393939;
}
.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%;
}
.flatpickr-time.time24hr .numInputWrapper {
  width: 49%;
}
.flatpickr-time input {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  color: #393939;
  font-size: 14px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.flatpickr-time input.flatpickr-hour {
  font-weight: bold;
}
.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
  font-weight: 400;
}
.flatpickr-time input:focus {
  outline: 0;
  border: 0;
}
.flatpickr-time .flatpickr-time-separator,
.flatpickr-time .flatpickr-am-pm {
  height: inherit;
  float: left;
  line-height: inherit;
  color: #393939;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}
.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
  background: #eee;
}
.flatpickr-input[readonly] {
  cursor: pointer;
}
@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@font-face{font-family:Montserrat;src:url(./../../assets/fonts/Montserrat-Regular.woff) format("woff"),url(./../../assets/fonts/Montserrat-Regular.ttf) format("truetype");font-weight:400;font-style:normal}@font-face{font-family:Montserrat;src:url(./../../assets/fonts/Montserrat-SemiBold.woff) format("woff"),url(./../../assets/fonts/Montserrat-SemiBold.ttf) format("truetype");font-weight:600;font-style:normal}@font-face{font-family:Montserrat;src:url(./../../assets/fonts/Montserrat-Bold.woff) format("woff"),url(./../../assets/fonts/Montserrat-Bold.ttf) format("truetype");font-weight:700;font-style:normal}@font-face{font-family:OpenSans;src:url(./../../assets/fonts/OpenSans-Regular.woff) format("woff"),url(./../../assets/fonts/OpenSans-Regular.ttf) format("truetype");font-weight:400;font-style:normal}@font-face{font-family:OpenSans;src:url(./../../assets/fonts/OpenSans-SemiBold.woff) format("woff"),url(./../../assets/fonts/OpenSans-SemiBold.ttf) format("truetype");font-weight:600;font-style:normal}@font-face{font-family:Rubik;src:url(./../../assets/fonts/Rubik-Regular.woff) format("woff"),url(./../../assets/fonts/Rubik-Regular.ttf) format("truetype");font-weight:400;font-style:normal}.text-heading{color:#1f1c2d}.text-heading-1{font:700 2.125rem/2.5625rem Montserrat,sans-serif}.text-heading-2-1{font:700 1.5rem/2.125rem Montserrat,sans-serif}.text-heading-2{position:relative;font:700 1.375rem/1.9375rem Montserrat,sans-serif}.text-heading-3{font:600 1.25rem/1.625rem Montserrat,sans-serif}.text-heading-4{font:600 1.25rem/1.875rem Montserrat,sans-serif}.text-heading-5{font:600 1.125rem/1.375rem Montserrat,sans-serif}.text-heading-6{font:600 .875rem/1.25rem Montserrat,sans-serif}.text{font:400 .875rem/1.375rem OpenSans,sans-serif;color:#1f1c2d;opacity:.7}.text--no-opacity{opacity:1}.text-extrasmall{font:400 .75rem/1.0625rem OpenSans,sans-serif;color:#1f1c2d;opacity:.7}.text-extrasmall>a:hover{color:#2ab8c4}.text-extrasmall>a:active{color:#17828b}.text-link{font:600 1.125rem/1.125rem Montserrat,sans-serif;color:#121930}.text-link-2{font:600 1rem/1rem Montserrat,sans-serif;color:#121930}.text-small{font:600 .875rem/.875rem OpenSans,sans-serif}.text-big{font:600 1.125rem/1.125rem OpenSans,sans-serif}.text-frame{font:600 1rem/1.625rem Montserrat,sans-serif}.text-lable{font:400 1rem/1.375rem Rubik,sans-serif;opacity:.7}.topline:before{content:"";position:absolute;top:-.875rem;left:0;width:2.25rem;height:.25rem;background-color:#2ab8c4}.section{padding-top:2.5rem;padding-bottom:2.5rem}.section:first-child{padding-top:0}.section--pb-0,.section:last-child{padding-bottom:0}.section--pt-0{padding-top:0}.section-top{margin-top:9.75rem}.section-bottom{margin-bottom:9.375rem}.user-text ul{padding-left:1.25rem}.user-text li{margin-top:.9375rem;padding-left:1.1875rem;position:relative}.user-text li:before{content:"";position:absolute;left:0;top:.75rem;width:.25rem;height:.25rem;border-radius:50%;background:#2ab8c4}.user-text h5{padding-left:1.25rem;font-size:1rem;font-weight:700;margin-top:1.875rem}.mb-16{margin-bottom:1rem}.mb-30{margin-bottom:1.875rem}.mb-40{margin-bottom:2.5rem}.mb-60{margin-bottom:3.75rem}.container{padding:0 1.25rem}.container.container--pr-m-0,.container.container--pr-t-0{padding-right:0}.container.container--pl-m-0{padding-left:0}.container.container--pr-m-0-2{padding:0 1.25rem}.is-hidden{overflow:hidden}.btn.btn--white{display:block;width:16.25rem;height:3.5rem;border:.0625rem solid #2ab8c4;border-radius:.25rem}.btn.btn--white:before{display:none}.btn.btn--white:hover{background-color:#2ab8c4;color:#fff;transition:background-color .3s ease,color .3s ease}.btn.btn--white:active{background-color:#17828b;transition:background-color .3s ease}.btn.btn--center{margin:0 auto}.btn .btn__text{font:600 1.125rem/1.125rem OpenSans,sans-serif}.btn.btn--hide{display:none}.header .header__menu{position:relative;margin-left:1.25rem;padding:4.25rem 0 1.875rem;display:none}.header .header__menu.active{display:block}.header .header__menu-decor{position:absolute;top:2.9375rem;right:-1.25rem}.header .header__link{margin-left:0}.header .header__link a{color:#fff}.social{margin-top:1.25rem;margin-left:0;display:flex;position:relative}.social svg{margin-right:.9375rem;width:1.375rem;height:1.375rem}.social .social__link{position:relative}.social .social__link.social__link--copy .social__link-text{opacity:.7;visibility:visible}.social .social__link-text{position:absolute;display:flex;align-items:center;justify-content:center;top:-2rem;right:-2.8125rem;width:7.875rem;height:1.625rem;font:400 .625rem/.875rem OpenSans,sans-serif;color:#1f1c2d;opacity:0;visibility:hidden;transition:opacity .3s ease,visibility 0s ease;background-color:#fff;box-shadow:0 10px 20px rgba(18,25,48,.3);border-radius:4px}.social.social--green{margin:0}.social.social--green svg{fill:#2ab8c4}.social.social--green .social__link:hover svg{fill:#17828b;transition:fill .3s ease}.item-contacts,.item-contacts.item-contacts--mobile{display:flex;margin-left:0;justify-content:space-between;position:relative;flex-direction:column}.item-contacts.item-contacts--mobile{margin-top:3.75rem}.item-contacts.item-contacts--mobile img{margin-right:.625rem}.item-contacts.item-contacts--mobile .item-contacts__phone{margin-bottom:.375rem;color:#90a5b2;font-size:1.5rem;line-height:2.1rem}.item-contacts.item-contacts--mobile .item-contacts__phone:hover{color:#2ab8c4}.item-contacts.item-contacts--mobile .item-contacts__phone:before{display:none}.item-contacts.item-contacts--person .item-contacts__email{font-size:.75rem}.item-contacts.item-contacts--person .item-contacts__phone{font-size:1.125rem}.item-contacts.item-contacts--person .item-contacts__icon{margin-right:1.25rem;width:1.375rem}.item-contacts.item-contacts--person .item-contacts__icon-email{width:1.2375rem;height:.675rem}.item-contacts .item-contacts__wrap{display:flex;align-items:center}.item-contacts .item-contacts__wrap:first-child{margin-bottom:1.25rem}.item-contacts .item-contacts__phone{color:#fff;font-size:1.125rem;line-height:1.5625rem}.item-contacts .item-contacts__phone:hover{color:#2ab8c4}.item-contacts .item-contacts__phone:before{display:none}.item-contacts .item-contacts__icon{max-width:1.125rem;max-height:.90625rem;margin-right:.625rem}.item-contacts .item-contacts__email{font-size:14px;line-height:100%;display:flex;align-items:center;color:#fff}.header{width:100%;background-color:transparent;transition:background-color .3s ease;position:fixed;z-index:100;min-height:5.625rem}.header.header--fixed{box-shadow:0 0 1.25rem rgba(0,0,0,.15);background-color:#fff}.header.header--fixed .header__btn svg,.header.header--fixed .header__logo-img svg{fill:#000}.header.header--fixed .header__btn p,.header.header--fixed .header__contacts a,.header.header--fixed .header__nav-item a{color:#000}.header.header--fixed .header__contacts a:hover,.header.header--fixed .header__nav-item a:hover{color:#2ab8c4}.header.header--active{position:fixed;height:100vh;background-color:#1f1c2d!important;z-index:100;box-shadow:0 0 1.25rem rgba(0,0,0,.15)}.header.header--active svg{fill:#fff!important}.header.header--active .header__btn p{font-weight:400;color:#fff!important}.header .header__logo{width:9.375rem}.header .header__logo-img{justify-content:flex-start}.header .header__logo-img svg{max-width:8.75rem;width:8.75rem;max-height:2.125rem;height:2.125rem;fill:#fff}.header .header__nav{margin-left:2.625rem;min-width:41%;position:relative;top:.125rem}.header .header__nav-list{width:100%;display:none;margin-bottom:0;justify-content:flex-start;align-items:flex-start}.header .header__nav-item{margin:0 1.99rem 0 0;position:relative}.header .header__nav-item:hover>.header__drop-menu{display:block;animation-name:fade;animation-duration:.7s}.header .header__nav-item.header__nav-item--current a{color:#2ab8c4}.header .header__nav-link{margin:0;padding:0 0 .9375rem;color:#fff;transition:color .3s ease;text-transform:uppercase;text-decoration:none}.header .header__nav-link:before{display:none}.header .header__nav-link:hover{color:#2ab8c4}.header .header__drop-menu{display:none;width:145%;top:calc(100% + 10px);left:50%;align-items:flex-start;flex-direction:column;padding:1.5rem 0;position:absolute;transform:translateX(-50%);background-color:#fff;box-shadow:0 .625rem 1.25rem rgba(0,0,0,.3);border-radius:.25rem;z-index:150}.header .header__drop-item{margin:0 0 1.25rem}.header .header__drop-item:last-child{margin-bottom:0}.header .header__drop-link{margin:0 0 .9375rem 1.875rem;transition:color .3s ease;color:#000}.header .header__drop-link:hover{color:#2ab8c4}.header .header__drop-link:last-child{margin-bottom:0}.header .header__inner{padding:1.25rem 0;display:flex;align-items:flex-end;justify-content:space-between}.header .header__nav{display:flex;align-items:flex-start}.header .header__nav img{display:none}.header .header__menu-item{margin-left:0;margin-bottom:.9375rem;padding:0}.header .header__menu-item:last-child{margin-bottom:0}.header .header__menu-item.header__menu-item--current a{color:#2ab8c4}.header .header__menu-link{color:#fff}.header .header__contacts{display:none;flex-direction:row}.header .header__contacts .item-contacts__wrap{margin-bottom:0}.header .header__btn{display:flex;align-items:center;border:none}.header .header__btn .header__btn-icon--open{display:block}.header .header__btn.header__btn--active .header__btn-icon--open,.header .header__btn .header__btn-icon--close{display:none}.header .header__btn.header__btn--active .header__btn-icon--close{display:block}.header .header__btn-icon svg{margin-left:1rem;max-width:.8125rem;max-height:.8125rem;cursor:pointer;fill:#fff}.header .header__btn-text{transition:color .3s ease;color:#fff}@keyframes fade{0%{opacity:.1}to{opacity:1}}.overfloy{overflow:hidden}.item-news{margin-right:.625rem;padding:2.5rem 1.25rem 3rem;margin-bottom:.625rem;background-color:#f0f2f9;border-radius:.25rem;width:19.375rem;flex-shrink:0;align-self:stretch;position:relative}.item-news.item-news--grid{min-height:15.4375rem}.item-news.item-news--grid .item-news__desc{display:block;display:-webkit-box;font-size:.875rem;max-height:66px;line-height:1.375rem;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:3}.item-news .item-news__card{position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}.item-news .item-news__card:hover~.item-news__wrap>.item-news__link,.item-news .item-news__card:hover~.item-news__wrap>.item-news__title{color:#2ab8c4}.item-news .item-news__lable{display:block;display:-webkit-box;font-size:1rem;max-height:22px;line-height:1.375rem;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;font:400 1rem/1.375rem Rubik,sans-serif;opacity:.7;font-weight:400}.item-news .item-news__lable+.item-news__title{margin-top:.9375rem}.item-news .item-news__lable+.item-news__desc{margin-top:1.25rem}.item-news .item-news__title{font-size:1.25rem;max-height:78px;line-height:1.625rem;-webkit-line-clamp:3;max-width:16.875rem;transition:color .3s ease}.item-news .item-news__desc,.item-news .item-news__title{display:block;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;margin-bottom:1.875rem}.item-news .item-news__desc{font-size:.875rem;max-height:88px;line-height:1.375rem;-webkit-line-clamp:4;font-weight:400;letter-spacing:-.000625rem}.item-news .item-news__link{font-weight:600;font-size:1.125rem;letter-spacing:-.0625rem}.item-person{display:flex;align-items:flex-end;position:relative;padding:1.875rem 1.875rem 3.125rem;width:100%;height:31.5rem;color:#fff;overflow:hidden}.item-person:hover .item-person__link-text{color:#2ab8c4;transition:color .3s ease}.item-person .item-person__img{display:block;position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;transform:translateZ(0)}.item-person .item-person__img>img{width:100%;height:100%;object-fit:cover;object-position:top right;font-family:"object-fit: cover;object-position: top right;"}.item-person .item-person__img:before{content:"";position:absolute;left:0;top:0;right:0;bottom:0;background:linear-gradient(180deg,rgba(0,0,0,.23),transparent 46.92%,rgba(0,0,0,.49));z-index:1}.item-person .item-person__title{margin-bottom:1.875rem;font:600 1.375rem/1.8125rem Montserrat,sans-serif}.item-person .item-person__title.item-person__title--nobr{white-space:nowrap}.item-person .item-person__text{width:11.75rem;position:absolute;bottom:1.25rem;left:1.25rem;color:#fff;opacity:1;transition:color .3s ease;z-index:40;display:block;display:-webkit-box;font-size:1.125rem;max-height:43.2px;line-height:1.35rem;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2}.item-person .item-person__link{position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}.item-person.item-person--small{padding:0 0 2.625rem 1.875rem}.item-person.item-person--small .item-person__title{font-size:2.125rem;line-height:3rem;margin-bottom:0;transition:color .3s ease}.item-person.item-person--small .item-person__label{font-size:.875rem;text-transform:uppercase;font-family:OpenSans,sans-serif;font-weight:700;transition:color .3s ease}.item-person.item-person--small:hover .item-person__label,.item-person.item-person--small:hover .item-person__title{color:#2ab8c4}.item-person.item-person--big{padding:2.5rem}.item-person.item-person--big .item-person__title{font-size:2.125rem;line-height:3rem;margin-bottom:0;transition:color .3s ease}.item-person.item-person--big .item-person__label{font-size:.875rem;text-transform:uppercase;font-family:OpenSans,sans-serif;font-weight:700;transition:color .3s ease}.item-person.item-person--big:hover .item-person__label,.item-person.item-person--big:hover .item-person__title{color:#2ab8c4}.item-person.item-person--aside{width:100%;height:18.75rem}.list-news{overflow-y:hidden;display:flex;align-items:center;overflow-x:auto;margin-bottom:-.625rem}.list-news.list-news--grid{flex-wrap:wrap;margin-bottom:3.125rem}.list-news.list-news--grid .list-news__item{padding-left:1.875rem;margin-right:0;margin-bottom:.625rem;width:100%}.list-news.list-news--grid-flex{display:flex}.list-news .list-news__item{width:310px;width:19.375rem;margin-right:.625rem;float:left}.list-news .list-news__item-person{margin-bottom:.625rem}.icon{display:flex;align-items:center;justify-content:center}.flatpickr-calendar{height:0;left:0;top:90%;border-radius:4px;width:20.9375rem;transition:opacity .3s ease}.flatpickr-calendar,.flatpickr-calendar.inline{position:absolute;z-index:50;overflow:hidden;opacity:0}.flatpickr-calendar.inline{top:2.8125rem}.flatpickr-calendar .flatpickr-next-month,.flatpickr-calendar .flatpickr-prev-month{color:#fff;fill:#2ab8c4;position:relative}.flatpickr-calendar .flatpickr-next-month svg,.flatpickr-calendar .flatpickr-prev-month svg{fill:#2ab8c4}.flatpickr-calendar .flatpickr-next-month:hover svg,.flatpickr-calendar .flatpickr-prev-month:hover svg{fill:#17828b;transform:fill .3s ease}.flatpickr-calendar .dayContainer{width:100%;min-width:auto}.flatpickr-calendar .dayContainer .today{background-color:none;border-color:#2ab8c4;color:none}.flatpickr-calendar .dayContainer .nextMonthDay.inRange,.flatpickr-calendar .dayContainer .prevMonthDay.inRange{background-color:rgba(42,184,196,.25);border-color:transparent;box-shadow:0 0 0 rgba(42,184,196,.25),0 0 0 rgba(42,184,196,.25)}.flatpickr-calendar .flatpickr-days{width:100%}.flatpickr-calendar .flatpickr-rContainer{margin:0 auto;padding:.9375rem 1.125rem}.flatpickr-calendar .endRange:after{content:"";width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1;display:block;background-color:#2ab8c4;box-shadow:none;border-radius:3.125rem}.flatpickr-calendar .flatpickr-day.endRange,.flatpickr-calendar .flatpickr-day.endRange.inRange,.flatpickr-calendar .flatpickr-day.endRange:focus,.flatpickr-calendar .flatpickr-day.endRange:hover,.flatpickr-calendar .flatpickr-day.selected,.flatpickr-calendar .flatpickr-day.selected.inRange,.flatpickr-calendar .flatpickr-day.selected:focus,.flatpickr-calendar .flatpickr-day.selected:hover,.flatpickr-calendar .flatpickr-day.startRange,.flatpickr-calendar .flatpickr-day.startRange.inRange,.flatpickr-calendar .flatpickr-day.startRange:focus,.flatpickr-calendar .flatpickr-day.startRange:hover{background-color:#2ab8c4;border-color:#2ab8c4}.flatpickr-calendar .endRange,.flatpickr-calendar .endRange:hover,.flatpickr-calendar .selected.startRange,.flatpickr-calendar .startRange,.flatpickr-calendar .startRange:hover{border-radius:3.125rem;background-color:#2ab8c4;color:#fff;border-color:transparent;box-shadow:none}.flatpickr-calendar .flatpickr-day.inRange,.flatpickr-calendar .flatpickr-day.inRange:focus,.flatpickr-calendar .inRange{background-color:rgba(42,184,196,.25);border-color:transparent;box-shadow:0 0 0 rgba(42,184,196,.25),0 0 0 rgba(42,184,196,.25);z-index:0}.flatpickr-calendar .flatpickr-day.startRange.startRange+.inRange{box-shadow:-1.25rem 0 0 rgba(42,184,196,.25),0 0 0 rgba(42,184,196,.25);border-color:transparent}.flatpickr-calendar .flatpickr-day.endRange.endRange,.flatpickr-calendar .flatpickr-day.startRange.startRange{border-radius:50px;z-index:1}.flatpickr-calendar .inRange+.flatpickr-day.endRange.endRange{background-color:rgba(42,184,196,.25);border-radius:0 3.125rem 3.125rem 0;border-color:transparent;box-shadow:0 0 0 #2ab8c4,0 0 0 #2ab8c4}.flatpickr-calendar .flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n+1)),.flatpickr-calendar .flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),.flatpickr-calendar .flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)){box-shadow:none}.flatpickr-calendar .flatpickr-weekday{color:#2ab8c4;font-family:Montserrat;width:1.625rem;height:1.25rem;font-size:.875rem;line-height:1.0625rem;display:flex;align-items:center;justify-content:center;margin:.28125rem}.flatpickr-calendar .flatpickr-description,.flatpickr-calendar .flatpickr-disabled,.flatpickr-calendar .nextMonthDay{color:#90a5b2}.flatpickr-calendar .flatpickr-description{padding:1rem 1.625rem}.flatpickr-calendar .flatpickr-day{line-height:1.0625rem;max-width:2.8125rem;height:2.625rem;display:flex;align-items:center;justify-content:center;width:14.28571%;transition:background .3s ease,border .3s ease,color .3s ease}.flatpickr-calendar .flatpickr-day:hover:not(.flatpickr-disabled){background-color:#2ab8c4;border-color:#2ab8c4;color:#fff}.flatpickr-calendar .flatpickr-day.flatpickr-disabled:hover{color:#90a5b2}.flatpickr-calendar .flatpickr-months{padding-top:1.125rem;padding-left:.9375rem;padding-right:.9375rem;height:5.5rem;align-items:center}.flatpickr-calendar .flatpickr-month{background-color:#fff;color:#1f1c2d;font-family:Montserrat}.flatpickr-calendar .flatpickr-month,.flatpickr-calendar .flatpickr-month .cur-month{font-weight:600;font-size:1rem;line-height:1rem}.flatpickr-calendar .flatpickr-month .cur-month:hover{background-color:transparent}.flatpickr-calendar .flatpickr-month .numInputWrapper{width:3.125rem}.flatpickr-calendar .flatpickr-month .numInputWrapper:hover{background-color:transparent}.flatpickr-calendar .flatpickr-month .cur-year{font-weight:600;font-size:1rem;line-height:1rem}.flatpickr-calendar .arrowDown,.flatpickr-calendar .arrowUp{display:none}.flatpickr-calendar .flatpickr-monthDropdown-months{-webkit-appearance:initial;appearance:auto}.flatpickr-calendar .event:after{content:"";position:absolute;width:6px;height:6px;border-radius:9.375rem;bottom:-5px;left:50%;transform:translateX(-50%);display:block;background:#90a5b2}.field-date{width:15.3125rem;height:2.5625rem}.field-date.field-date--light .field-date__input{border:1px solid rgba(31,28,45,.15);font-size:.875rem;line-height:1.375rem;padding-left:1.25rem}.field-date.field-date--light .field-date__input::placeholder{font-weight:400;opacity:.7}.field-date .field-date__calendar{position:relative;width:100%;height:100%}.field-date .field-date__input{height:46px;padding:0 0 0 .9375rem;border:.0625rem solid #90a5b2;box-sizing:border-box;border-radius:4px;color:#1f1c2d;width:100%;font:600 1rem/1rem Montserrat,sans-serif}.field-date .field-date__input::placeholder{color:#1f1c2d}.field-date .field-date__input:not([data-invalid]):hover{border-color:#2ab8c4;transition:border-color .3s ease}.field-date .field-date__icon{position:absolute;top:calc(50% - .375rem);right:1.4375rem;width:.4375rem;height:.75rem;pointer-events:none;transition:transform .3s ease}.field-date .field-date__icon>svg{fill:#2ab8c4}.field-date .field-date__icon.field-date__icon--open{transform:rotate(90deg)}.field-date .field-date__btn>svg{width:.5rem;height:.75rem;fill:#2ab8c4}.form-filter{margin-top:1.875rem}.breadcrumbs{display:flex;padding-bottom:2.5rem}.breadcrumbs .breadcrumbs__item{color:#fff;font-family:OpenSans,sans-serif;white-space:nowrap;transition:color .3s ease}.breadcrumbs .breadcrumbs__item:not(:last-child):after{content:"/";margin:0 .4375rem;color:#fff}.breadcrumbs .breadcrumbs__item[href]:hover{color:#2ab8c4}.breadcrumbs .breadcrumbs__item[href]:hover:after{color:#fff}.breadcrumbs .breadcrumbs__item:last-child{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.breadcrumbs .breadcrumbs__item.breadcrumbs__item--current{opacity:.7}.breadcrumbs .breadcrumbs__item.breadcrumbs__item--current[href]:hover{color:#fff}.breadcrumbs.breadcrumbs--dark{padding-bottom:1rem}.breadcrumbs.breadcrumbs--dark .breadcrumbs__item,.breadcrumbs.breadcrumbs--dark .breadcrumbs__item:not(:last-child):after{color:#121930}@media (min-width:768px){.text-heading-1{font-size:3rem;line-height:3.625rem}.text-heading-2,.text-heading-2-1{font-size:2.125rem;line-height:3rem}.text-heading-3{font-size:1.375rem;line-height:1.8125rem}.text{font-size:1rem;line-height:180%}.text-frame{font-size:1rem;line-height:1.625rem}.section{padding-top:3.125rem;padding-bottom:3.125rem}.section--pt-0{padding-top:0}.container,.container.container--pl-m-0,.container.container--pr-m-0,.container.container--pr-m-0-2{padding:0 5rem}.container.container--flex{display:flex;flex-wrap:wrap;justify-content:space-between}.container.container--plr-t-40{padding:0 2.5rem}.header .header__menu-decor{right:-5rem}.item-news{padding:2.5rem 1.875rem 3rem;width:24.375rem}.item-news .item-news__title{font-size:1.375rem;max-height:58px;line-height:1.8125rem;-webkit-line-clamp:2;margin-bottom:1.875rem;max-width:19.75rem}.item-news .item-news__desc,.item-news .item-news__title{display:block;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical}.item-news .item-news__desc{font-size:.875rem;max-height:66px;line-height:1.375rem;-webkit-line-clamp:3}.item-person{width:100%;border-top-left-radius:.25rem;border-top-right-radius:.25rem}.item-person .item-person__title{width:46%}.item-person.item-person--big .item-person__title{font-size:3.625rem;line-height:4.375rem}.list-news.list-news--grid{margin:-.3125rem -.3125rem 3.125rem}.list-news.list-news--grid .list-news__item{width:calc(50% - .625rem);margin:.3125rem}.list-news .list-news__item{width:24.375rem;flex-shrink:0}.list-news .list-news__item-person{margin:.3125rem}.flatpickr-calendar{width:22.5rem;padding-left:1.375rem;padding-right:1.375rem;padding-bottom:.9375rem}.flatpickr-calendar.inline{left:-7.0625rem}.flatpickr-calendar .flatpickr-day{max-width:2.5rem;height:2.5rem}.form-filter{margin-top:0}}@media (max-width:767px){.header .header__nav{min-width:auto;margin-left:0}}
