


// +++++++++++++  1400  ++++++++++++++ //
@media (min-width: 1500px) {
  .header__phones {
    height: 655px;
  }
  .burger {
    display: none;
  }
}

.slider__btn {
  width: 85%;
}




// +++++++++++++  1500  ++++++++++++++ //

@media (max-width: 1500px) {
  .header__phones {
    width: 747px;
    height: 76%;
  }

  .shadow {
    width: 817px;
    top: 39px;
  }

  .burger {
    display: none;
  }

  .slider__btn {
    width: 110%;
  }
}

// +++++++++++++  1350  ++++++++++++++ //
@media (max-width: 1350px) {
  .header__inner.fixed .nav {
    margin-right: 5%;
  }

  .header__inner.fixed .header__logo {
    margin-left: 5%;
  }

  .header__logo {
    margin-left: 40px;
  }

  .header__phones {
    width: 682px;
    top: 24%;
  }

  .shadow {
    width: 709px;
    height: 89%;
  }

  .header__title {
    margin: 0 0 0 40px;
  }

  // =====SLIDER====== //

  .item {
    margin: auto;
    width: 300px;
    height: 405px;
  }
  #wrap {
    width: 80%;
    height: 61%;
  }

  .custom__slider .slick-arrow.slick-prev {
    left: -5%;
  }

  .custom__slider .slick-arrow.slick-next {
    right: -5%;
  }
}

// +++++++++++++  1140  ++++++++++++++ //

@media (max-width: 1140px) {
  .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0px;
  }

  // =====HEADER 1140px====== //

  .header__phones {
    width: 548px;
    top: 26%;
  }
  .phones__card-one {
    top: 22%;
  }
  .shadow {
    width: 650px;
  }
  .header__title {
    margin-left: 50px;
  }

  // =====FEATURE 1140px====== //

  .feature {
    padding: 120px 0;
    overflow: hidden;
  }
  .feature__wrap {
    justify-content: center;
    padding: 0 7%;
  }

  .feature__card {
    margin-bottom: 0px;
    margin: 20px 0;
    max-width: 35%;
    min-width: 357px;
  }
  .feature__card:nth-child(1n) {
    margin-right: 60px;
  }
  .feature__card:nth-child(4) {
    margin-bottom: 20px;
  }
  .product {
    overflow: hidden;
  }

  // =====SLIDER 1140px====== //
  .item {
    margin: auto;
    width: 250px;
    height: 333px;
  }
  #wrap {
    width: 80%;
    height: 51%;
  }
  // =====SERVISES 1140px====== //

  .card__box-wrap {
    justify-content: center;
  }
  .card-box-item {
    min-width: 36%;
  }
  .slick-slide {
    opacity: 0;
  }
  .slick-center {
    opacity: 1;
  }
  .custom__slider .slick-arrow.slick-next {
    right: 24%;
  }
  .custom__slider .slick-arrow.slick-prev {
    left: 24%;
  }
  .custom__title {
    margin-bottom: 20px;
  }
  .custom__title p {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
  }
  .slick-center {
    background-color: #f7fafc;
  }
  .custom__slider-item.slick-center {
    background-color: #f7fafc;
  }
}

// +++++++++++++  1090  ++++++++++++++ //

@media (max-width: 1090px) {
  // =====HEADER 1090px====== //

  .header__phones {
    width: 485px;
    height: 66%;
    top: 34%;
  }

  .shadow {
    width: 565px;
  }

  // =====FEATURE 1090px====== //

  .feature__wrap {
    justify-content: center;
    padding: 0 4%;
  }

  // =====PRODUCT 1090px====== //

  .product__wrap {
    margin: 0 40px;
  }
  .product__img {
    img {
      width: 80%;
    }
  }
  .product__img::before {
    top: 34%;
  }
  .download__card-item {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .download__card-wrap {
    min-width: 37%;
    max-width: 300px;
    margin-bottom: 30px;
  }
}

// +++++++++++++  970  ++++++++++++++ //

@media (max-width: 970px) {
  // =====HEADER====== //

  .header__phones {
    display: none;
  }
  .header__title {
    margin: 0 auto;
  }
  .title h1 {
    margin-bottom: 40px;
  }
  .title p {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  // =====FEATURE 970px====== //

  .feature__wrap {
    justify-content: center;
    padding: 0 0%;
  }

  .feature__card:nth-child(1n) {
    margin-right: 25px;
  }

  // =====PRODUCT 970px====== //

  .product__content {
    max-width: 50%;
  }
  .slider__btn a {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
  }
  .prev::before {
    font-size: 12px;
  }
  .next::before {
    font-size: 12px;
  }
  .prev:active {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    font-size: 12px;
  }
  .next:active {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    font-size: 12px;
  }
  #wrap {
    width: 85%;
  }
  .download__card-item {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .download__card-wrap {
    min-width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// +++++++++++++  910  ++++++++++++++ //

@media (max-width: 910px) {
  .product__title {
    h2 {
      font-size: 30px;
    }
  }
  .product__title p {
    margin-bottom: 49px;
  }

  #wrap {
    width: 85%;
  }

  .slider__btn a {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
  }
  .prev::before {
    font-size: 12px;
  }
  .next::before {
    font-size: 12px;
  }
  .prev:active {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    font-size: 12px;
  }
  .next:active {
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    font-size: 12px;
  }

  .custom__slider .slick-arrow.slick-prev {
    left: 20%;
  }
  .custom__slider .slick-arrow.slick-next {
    right: 20%;
  }
}

// +++++++++++++  810  ++++++++++++++ //

@media (max-width: 810px) {
  .product__checklist {
    margin: 12px 0;
    font-size: 12px;
    line-height: 18px;
  }

  #wrap {
    overflow: hidden;
    width: 662px;
    height: 54%;
  }
  .slider__btn {
    top: 89%;
    width: 91%;
  }
}

// +++++++++++++  780  ++++++++++++++ //

@media (max-width: 780px) {
  .feature__card {
    margin-bottom: 20px;
    max-width: 35%;
    min-width: 295px;
  }
  .card__img {
    margin-right: 5px;
    width: 65px;
    height: 65px;
  }
  .card__feature-discription {
    width: 222px;
    h2 {
      margin-bottom: 14px;
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
    }
    p {
      font-size: 12px;
      line-height: 21px;
    }
  }

  // =====PRODUCT 780px====== //

  .product__title {
    margin-bottom: 22px;
  }
  .product__title h2 {
    font-size: 28px;
  }
  .product__title p {
    margin-bottom: 49px;
    font-weight: 300;
    line-height: 22px;
    font-size: 12px;
  }
  .product__title span {
    color: #777777;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
  }
  .product__img::before {
    width: 920px;
    height: 373px;
    top: 27%;
  }

  .slider {
    height: 750px;
  }
  .slider__title {
    margin-bottom: 30px;
  }
  #wrap {
    height: 75%;
  }
}

// +++++++++++++  750  ++++++++++++++ //

@media (max-width: 750px) {
  // =====HEADER 750px====== //
  .burger {
    display: block;
    top: 40px;
    right: 40px;
  }
  .nav {
    padding: 0px 0px;
    display: none;
    position: absolute;
    top: 14%;
    right: 50%;
    width: 125%;
    height: 72px;
    flex-direction: row;
    transform: translateX(50%);
    z-index: 10;
    a {
      color: #000;
      box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
      background: linear-gradient(#fff, #fff 20%, #d1d0cf);
      cursor: pointer;
    }
  }
  .link:active {
    background: linear-gradient(#ffffff, #c5d3de 20%, #f73939);
    box-shadow: 0 1px rgba(243, 7, 7, 0.4) inset;
  }

  // ===== FEATURE 750px ====== //

  .product__img {
    margin-top: 80px;
  }
  .product__wrap {
    flex-direction: column-reverse;
  }
  .product__content {
    max-width: 95%;
  }
  .product__title h2 {
    font-size: 32px;
  }
  .product__title p {
    width: 85%;
  }
  .product__title span {
    width: 85%;
    display: inline-block;
  }
  .product__checklist {
    margin: 40px 0;
  }
  .product__img img {
    width: 70%;
  }
  .product__img::before {
    width: 843px;
    height: 340px;
    top: 18%;
    z-index: -1;
  }
  .product__content {
    height: 100%;
  }
  .card-box-item {
    min-width: 42%;
  }

  .custom__slider .slick-arrow.slick-prev {
    left: 15%;
  }
  .custom__slider .slick-arrow.slick-next {
    right: 15%;
  }
  .custom__title p {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .custom__title {
    width: 340px;
  }
}

// +++++++++++++  670  ++++++++++++++ //

@media (max-width: 670px) {
  .slider__title {
    p {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }
  }
  #wrap {
    width: 482px;
    height: 80%;
  }
  .slider__btn {
    top: 96%;
    width: 73%;
  }
}

// +++++++++++++  640  ++++++++++++++ //

@media (max-width: 640px) {
  .feature {
    padding: 40px 0;
  }
  .feature__card:nth-child(5) {
    margin-bottom: 20px;
  }
  .feature__card:nth-child(1n) {
    margin-right: 0px;
  }

  // ===== PRODUCT 750px ====== //
  .product__img::before {
    width: 805px;
    height: 340px;
    top: 18%;
    z-index: -1;
  }
  .product {
    padding: 40px 0;
  }
  .slider {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #wrap {
    width: 482px;
    height: 60%;
  }
  .card-box-item {
    min-width: 49%;
  }

  .custom__slider .slick-arrow.slick-prev {
    left: 10%;
  }
  .custom__slider .slick-arrow.slick-next {
    right: 10%;
  }
}

// +++++++++++++  580  ++++++++++++++ //

@media (max-width: 580px) {
  .card-box-item {
    min-width: 100%;
  }
  .services__title h3 {
    margin: 0 60px;
    color: #222222;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
  }
  .services__title p {
    padding-top: 40px;
    margin: 0 100px;
  }
  .services__title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .services__title h3 {
    margin: 0 60px;
    color: #222222;
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
  }
  .services__title h3 {
    padding-top: 0px;
    margin: 0 auto;
    width: 80%;
  }
  .custom__slider .slick-arrow.slick-prev {
    left: 10%;
    top: auto;
  }
  .custom__slider .slick-arrow.slick-next {
    right: 10%;
    top: auto;
  }
}

// +++++++++++++  520  ++++++++++++++ //

@media (max-width: 520px) {
  // =====HEADER====== //

  .header {
    height: 800px;
  }
  .header__inner {
    margin: 0 10px;
  }
  .container {
    padding: 0 10px;
  }

  .nav {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .link {
    font-size: 12px;
    width: 45%;
  }

  .header__content {
    text-align: center;
    padding-bottom: 0px;
    padding: 40px 0;
  }
  .burger {
    top: 40px;
    right: 40px;
  }
  .title h1 {
    text-align: center;
    font-size: 40px;
  }
  .title p {
    text-align: center;
    font-size: 24px;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .header__checklist {
    padding: 0px 4%;
    margin: 45px 0;
    text-align: left;
  }
  .nav {
    padding: 0px 0px;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top: 16%;
    right: 50%;
    width: 70%;
    height: 225px;
    flex-direction: row;
    transform: translateX(50%);
    z-index: 10;
    a {
      color: #000;
      box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
      background: linear-gradient(#fff, #fff 20%, #d1d0cf);
      cursor: pointer;
    }
  }
  .link {
    font-size: 12px;
    width: 80%;
    margin: 10px 0;
  }
  .link:active {
    background: linear-gradient(#ffffff, #c5d3de 20%, #f73939);
    box-shadow: 0 1px rgba(243, 7, 7, 0.4) inset;
  }

  // =====PRODUCT====== //
  .product__content {
    max-width: 100%;
  }
  .product__title h2 {
    text-align: center;
  }
  .product__title p {
    width: 100%;
    margin-bottom: 36px;
  }
  .product__title span {
    width: 100%;
  }
  .product__img {
    text-align: center;
    margin-top: 50px;
  }
}

// +++++++++++++  470  ++++++++++++++ //

@media (max-width: 470px) {
  .product__title h2 {
    font-size: 26px;
  }
  .product__img::before {
    width: 638px;
    height: 340px;
    top: -3%;
    z-index: -1;
  }
  #wrap {
    width: 249px;
    height: 65%;
  }
  .slider__btn {
    top: 90%;
    width: 73%;
  }
  .slider__title p {
    width: 58%;
  }
  .slider__title h2 {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 20px;
  }
  .custom__title h2 {
    margin-bottom: 23px;
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }
  .custom {
    padding-top: 40px;
    width: 100%;
    height: 695px;
  }
  .custom {
    padding-top: 40px;
    width: 100%;
    height: 695px;
  }
  .download {
    width: 100%;
    height: 100%;
    padding: 40px 0 40px 0;
  }
  .download__title {
    text-align: center;
    margin-bottom: 40px;
  }
  .download__title h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }
  .copyright {
    width: 80%;
    margin: 0 auto;
    font-size: 10px;
  }
}
// +++++++++++++  420  ++++++++++++++ //

@media (max-width: 420px) {
  // =====HEADER====== //
  .header {
    height: 100vh;
  }
  .header__content {
    padding-top: 50px;
  }

  .title h1 {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
  }
  .title p {
    text-align: center;
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .header__checklist {
    padding: 0px 4%;
    margin: 50px 0;
  }

  .header__checklist {
    padding: 0px 0%;
    margin: 45px 0;
    text-align: left;
  }
  .product__title h2 {
    font-size: 24px;
  }
  .product__img img {
    width: 60%;
  }
  .product__checklist {
    margin: 30px 0;
  }
  .product__checklist li {
    margin: 8px 0;
    padding-left: 18px;
    font-size: 11px;
  }
  .services__title h3 {
    padding-top: 40px;
    margin: 0 auto;
  }
  .services__title p {
    padding-top: 40px;
    margin: 0 auto;
  }
}

// +++++++++++++  375  ++++++++++++++ //

@media (max-width: 375px) {
  // =====HEADER====== //
  .header {
    height: 100vh;
  }
  .title h1 {
    text-align: center;
    font-size: 38px;
    line-height: 45px;
  }
  .title p {
    text-align: center;
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .header__checklist {
    padding: 0px 0%;
    margin: 25px 0;
  }
  .header__checklist li {
    font-size: 12px;
  }
  .product__title h2 {
    font-size: 22px;
  }
  .product__title p {
    margin-bottom: 20px;
  }
  .product__checklist {
    margin: 24px 0;
  }
  .product__wrap {
    margin: 0px 24px;
  }
  .product__img {
    margin-top: 15px;
  }
  .slider__title {
    margin-bottom: 30px;
  }
  .slider__title h2 {
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 20px;
  }
  .slider__title p {
    width: 44%;
  }
  .services__title h3 {
    padding-top: 0px;
    margin: 0 auto;
    width: 60%;
  }
  .services__title p {
    padding-top: 20px;
    margin: 0 auto;
    width: 60%;
  }
}

// +++++++++++++  360  ++++++++++++++ //

@media (max-width: 360px) {
  // =====HEADER====== //
  .header {
    height: 100vh;
  }
  .header__content {
    padding: 20px 0 20px 0;
  }
  .header__inner {
    margin: 0 10px;
  }
  .title h1 {
    font-size: 36px;
  }
  .header__logo-text {
    font-size: 32px;
    margin-left: 35px;
  }
  .header__logo-text::before {
    width: 48px;
    height: 25px;
    top: 50%;
    left: -50px;
    transform: translateY(-50%) translateX(40%);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .download__card {
    width: 330px;
  }
}

// +++++++++++++  320  ++++++++++++++ //

@media (max-width: 320px) {
  // =====HEADER====== //
  .header {
    height: 100vh;
  }
  .nav {
    top: 100px;
  }
  .title h1 {
    text-align: center;
    font-size: 32px;
    line-height: 45px;
  }
  .title p {
    text-align: center;
    font-size: 14px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .header__checklist {
    padding: 0px 4%;
    margin: 10px 0;
  }
  .header__checklist li {
    font-size: 12px;
    padding: 0 0 0 20px;
  }
  .header__checklist li::before {
    font-size: 1.1em;
    top: -3px;
    left: -1px;
  }
  .header__logo-text {
    font-size: 28px;
    margin-left: 35px;
  }
  .header__logo-text::before {
    width: 48px;
    height: 25px;
    top: 50%;
    left: -50px;
    transform: translateY(-50%) translateX(40%);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header__checklist {
    padding: 0px 0%;
    margin: 10px 0;
    text-align: left;
  }

  // =====  FEATURE  ====== //

  .feature__card {
    margin-bottom: 20px;
    max-width: 35%;
    min-width: 295px;
  }
  .card__img {
    margin-right: 0px;
    width: 65px;
    height: 65px;
  }
  .card__feature-discription {
    width: 222px;
    h2 {
      margin-bottom: 14px;
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
    }
    p {
      font-size: 12px;
      line-height: 21px;
    }
  }
  .product__wrap {
    margin: 0px 10px;
  }

  .slider {
    height: 640px;
  }

  .slider__title h2 {
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 20px;
  }
  .slider__title p {
    width: 44%;
  }
  #wrap {
    width: 249px;
    height: 70%;
  }
  .slider__btn {
    top: 95%;
    width: 73%;
  }
  .services__title h3 {
    padding-top: 0px;
    margin: 0 auto;
    width: 80%;
  }
  .services__title p {
    padding-top: 20px;
    margin: 0 auto;
  }
  .custom__title h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
  }
  .custom__title p {
    margin: 0 auto;
    margin-bottom: 0px;
    width: 100%;
  }
  .custom__title {
    width: 280px;
  }
  .dowload__card-context p {
    color: #777777;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
  }
  .download__card {
    width: 290px;
  }
  .footer {
    padding: 40px 0 40px 0;
  }
  .custom {
    padding-top: 40px;
    width: 100%;
    height: 562px;
  }
}
