$parent: "social";

@include block($parent) {
  margin-top: rem(20);
  margin-left: rem(0);
  display: flex;
  position: relative;

  svg {
    margin-right: rem(15);
    width: rem(22);
    height: rem(22);
  }

  @include element($parent, 'link') {
    position: relative;

    @include modifier($parent, 'copy') {
      @include element($parent, 'link-text') {
        opacity: 0.7;
        visibility: visible;
      }
    }
  }

  @include element($parent, 'link-text') {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: rem(-32);
    right: rem(-45);
    width: rem(126);
    height: rem(26);
    font: 400 rem(10)/rem(14) 'OpenSans', sans-serif;
    color: $primary;
    opacity: 0;
    visibility: hidden;
    transition: opacity $ease, visibility 0s ease;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(18, 25, 48, 0.3);
    border-radius: 4px;
  }

  @include modifier($parent, 'green') {
    margin: 0;

    svg {
      fill: $green;
    }

    & .social__link:hover {
      svg {
        fill: $green-darken;
        transition: fill $ease;
      }
    }
  }
}
