$parent: popup-layout;

@include block($parent) {
  @include element($parent, "content") {
    position: relative;
    height: 100%;
  }

  @include element($parent, 'text') {
    display: none;

    @include min-media('t') {
      display: block;
    }
  }

  @include element($parent, "btn-close") {
    position: absolute;
    right: rem(24);
    top: rem(40);
    z-index: 2;
    width: rem(15);
    height: rem(15);

    @include min-media('t') {
      right: rem(-1);
      top: rem(-1);
    }

    &:hover {
      cursor: pointer;
    }

    & > svg {
      fill: $white;

      &:hover {
        fill: $green;
        transition: fill $ease;
      }
    }

    img {
      width: rem(15);
      height: rem(15);
    }
  }

  @include element($parent, 'text') {
    padding-right: rem(27);
    padding-bottom: rem(10);
    font-weight: 400;
    color: $white;
    text-align: right;
    opacity: 0.7;
  }
}
