*[data-anim] {
  will-change: transform, opacity;
  transition: opacity, transform;

  &[data-anim='fadeDown'] {
    transform: translateY(-80px);
    opacity: 0;
    transition-duration: 0.8s;
  }

  &[data-anim='fadeUp'] {
    transform: translateY(80px);
    opacity: 0;
    transition-duration: 0.8s;
  }

  &[data-anim='fadeIn'] {
    opacity: 0 !important;
    transition-duration: 0.8s;
  }

  &.animate {
    opacity: 1 !important;
    transform: translate(0, 0);
  }
}
