include /atoms/link/link.pug
include /atoms/picture/picture.pug

mixin section-job(props= {info: false, className: ''})
  .section-job.lazyload(class= props.className || '')&attributes(props.attrs)
    if props.info.image
      +picture({info: props.info.image, className: "section-job__img"})
    .section-job__description
      if props.info.imageLogo
        +picture({info: props.info.imageLogo, className: 'section-job__logo'})
      .section-job__container
        if props.info.title
          .section-job__title.text-heading-2.topline= props.info.title
        if props.info.slider
          .section-job__slider.swiper-container
            .swiper-wrapper
              each item in props.info.slider
                .section-job__item.swiper-slide
                  if item.sudtitle
                    .section-job__subtitle.text-heading-3= item.sudtitle
                  if item.text
                    .section-job__text.text!= item.text
          if props.info.slider.length > 1 
            .section-job__controls
              if props.info.btn
                - var attrs = props.info.btn.api ? {'data-api': props.info.btn.api } : {}
                +link({info: props.info.btn, className: 'section-job__btn link--white', attrs: attrs})
              .swiper-pagination__controls-wrapper
                .swiper-pagination
                button.swiper__button.swiper__button--prev
                button.swiper__button.swiper__button--next