include /atoms/item/digits/item-digits.pug

mixin list-digits(props= {info: false, className: ''})
  .list-digits(class= props.className)&attributes(props.attrs)
    if props.info.length <= 2
      for item in props.info
        +item-digits({info: item, className: 'list-digits__item'})
    if props.info.length > 2
      for item in props.info
        +item-digits({info: item, className: 'list-digits__item item-digits--small'})