/* stylelint-disable */
@import '~choices.js/public/assets/styles/choices.min.css';

$parent: field-select;

@include block($parent) {
  position: relative;
  width: 100%;
  min-width: rem(200);

  &[data-invalid] {
    .multiselect-input {
      border-color: $red;
    }
  }

  @include element($parent, 'label') {
    position: absolute;
    left: rem(2);
    width: calc(100% - #{rem(36)});
    top: rem(2);
    bottom: rem(6);
    z-index: 22;
    background-color: $white;
    pointer-events: none;
  }

  @include modifier($parent, "disabled") {
    .choices[data-type*="select-one"] {
      .choices__inner {
        cursor: default;
        pointer-events: all;
        border: 1px solid $gray-light;
      }

      &::after {
        border: solid $green;
        border-width: 0 1.5px 1.5px 0;
      }

      &:not(.is-open):hover {
        .choices__inner {
          border-color: $gray-light;
        }

        &::after {
          border-color: $green;
        }
      }

      .choices__item {
        cursor: default;
        pointer-events: all;
        color: $blue-dark;
      }
    }
  }

  .choices[data-type*="select-one"] {
    width: 100%;
    position: relative;
    display: flex;
    height: rem(46);
    border-radius: rem(10);

    &::after {
      border: solid $green;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 3px;
      margin-right: rem(12);
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transition: border-color $ease, transform $ease;;
      top: 45%;
    }

    .choices__item {
      width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: color 0.3s ease;
      font: 600 rem(16)/rem(16) 'Montserrat', sans-serif;
      color: $blue-dark;
    }

    .choices__list--dropdown {
      box-sizing: border-box;
      padding: rem(20) rem(15);
      z-index: 25;
      margin-top: 0;
      box-shadow: 0 10px 20px rgba(18, 25, 48, 0.3);
      border-radius: rem(4);

      .choices__item {
        padding: rem(10);
        border: 1px solid transparent;
        background-color: transparent;
        color: $blue-dark;
        transition: background-color $ease, border-color $ease, color $ease;
      }

      .choices__item--selectable.is-highlighted {
        color: $green;

        &::after {
          display: none;
        }
      }
    }

    .choices__inner {
      padding: rem(15);
      background-color: $white;
      border: 1px solid $gray-dark;
      min-height: rem(46);
      box-sizing: border-box;
      border-radius: rem(4);
      transition: border 0.3s ease;

      &[data-invalid] {
        border-color: $red;

        & + .choices__list--dropdown {
          border-color: $red;
        }
      }
    }

    &:not(.is-open):hover {
      .choices__item {
        color: $green;
      }
    }

    .choices__input {
      display: none;
    }

    &.is-open {
      &::after {
        margin-top: 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      .choices__list--dropdown {
        border-top: none;
      }
    }

    .choices__list--single {
      padding: 0;
    }

    .choices__placeholder {
      color: $blue-dark;
      opacity: 1;

      &.choices__item--choice {
        display: none;
      }
    }
  }

  @include modifier($parent, 'light') {
    .choices[data-type*="select-one"] {
      &:hover .choices__inner {
        border-color: $green;
      }
      

      .choices__inner {
        padding: rem(10) rem(20);
        border-color: rgba($primary, 0.15);

        &[data-invalid] {
          border-color: $red;
        }
      }

      .choices__placeholder,
      .choices__item {
        font-size: rem(14);
        line-height: rem(22);
        font-weight: 400;
        opacity: 0.7;
    }
    }
  }
}
