mixin contacts-info(props= {info: false, className: '', attrs: {}})
  .contacts-info
    if props.info.mail
      each mail in props.info.mail
        - var mailtag = mail.url ? 'a' : 'div'
        - var mailattrs = mail.url ? { 'href': mail.url } : {}
        #{mailtag}.text.contacts-info__mail&attributes(mailattrs)!= mail.text
    if props.info.phone
      each phone in props.info.phone
        - var phonetag = phone.url ? 'a' : 'div'
        - var phoneattrs = phone.url ? { 'href': phone.url } : {}
        #{phonetag}.text-big.contacts-info__phone&attributes(phoneattrs)!= phone.text
