$parent: contacts-info;

@include block($parent) {
  @include element($parent, 'mail') {
    margin-bottom: rem(10);
    display: block;
  }

  @include element($parent, 'phone') {
    color: $blue-dark;
    display: block;
    margin-bottom: rem(10);
  }
}
