
$parent: item-digits;

@include block($parent) {
  max-width: rem(160);
  width: 100%;

  @include min-media('t') {
    max-width: rem(180);
  }

  @include modifier($parent, 'small') {
    max-width: rem(180);

    .item-digits__number {
      margin-bottom: rem(10);
      font-size: rem(48);
      line-height: rem(62);
    }

    .item-digits__text {
      font-size: rem(14);
      line-height: rem(19.6);
    }
  }

  @include element($parent, 'number') {
    margin-bottom: rem(15);
    font-weight: 600;
    font-size: rem(46);
    line-height: rem(52);
    color: $green;
    font-family: 'OpenSans', sans-serif;

    @include min-media('t') {
      font-size: rem(72);
      line-height: rem(86);
    }
  }

  @include element($parent, 'text') {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: rem(18);
    line-height: rem(20);
    color: $dark;

    @include min-media('t') {
      font-size: rem(20);
      line-height: rem(24);
    }
  }
}
