extends /layouts/main.pug
include /molecules/banner/banner.pug
include /organisms/section/news/section-news.pug
include /organisms/section/contacts/section-contacts.pug
include /organisms/section/feedback/section-feedback.pug
include /molecules/breadcrumbs/breadcrumbs.pug

block vars
  - var page = require('../data/pages/contacts.json');

block content
  .main
    if page.breadcrumbs || page.title
      .section-top.is-hidden.mb-40
        .container
          if page.breadcrumbs
            +breadcrumbs({info: page.breadcrumbs, className: 'breadcrumbs--dark'})
          if page.title
            .text-heading-2(data-anim='fadeUp', data-delay='0.2')= page.title
    if page.contacts
      .section.section--pt-0
        +section-contacts({info: page.contacts, attrs: {'data-anim': 'fadeUp', 'data-delay': '0.4'}})
    if page.news
      .section.is-hidden
        .container.container--pr-t-0
          +section-news({info: page.news})
    if page.feedback
      .section
        +section-feedback({info: page.feedback})
