extends /layouts/main.pug

include /molecules/accordion/accordion.pug
include /molecules/breadcrumbs/breadcrumbs.pug
include /atoms/container/detail/container-detail.pug
include /organisms/section/feedback/section-feedback.pug
include /organisms/section/preview/section-preview.pug

block vars
  - var page = require('../data/pages/faq.json');

block content
  .main
    .section-top
      .section
        .container.container--detail
          if page.breadcrumbs
            +breadcrumbs({info: page.breadcrumbs, className: 'breadcrumbs--dark mb-16'})
          if page.title
            .text-heading-2.mb-40(data-anim='fadeUp', data-delay='0.2')= page.title
          +container-detail
            mixin content
              if page.accordion.title
                h2.text-heading-2.topline.mb-30= page.accordion.title
              if page.accordion.list
                each item in page.accordion.list
                  +accordion(item)
                    mixin accordionHeader
                      h3= item.title
                    mixin accordionContent
                      .text!= item.content

            mixin column
              if page.preview
                +section-preview({info: page.preview, attrs: {'data-anim': 'fadeUp', 'data-delay': '0.2'}})
      if page.feedback
        .section
          +section-feedback({info: page.feedback})
