extends /layouts/main.pug
include /molecules/banner/banner.pug
include /organisms/section/application/section-application.pug
include /organisms/section/clients/section-clients.pug
include /organisms/section/service/section-service.pug
include /organisms/section/news/section-news.pug
include /organisms/section/feedback/section-feedback.pug
include /organisms/section/job/section-job.pug
include /organisms/section/warehouse/section-warehouse.pug
include /organisms/section/firstScreen/section-firstScreen.pug

block vars
  - var page = require('../data/pages/main.json');

block content
  .main
    if page.firstScreen
      .section
        +section-firstscreen({info: page.firstScreen})
    if page.service
      .section.is-hidden
        .container
          +section-service({info: page.service})
    if page.banner
      .section.is-hidden
        .container.container--pl-m-0.container--pr-m-0.container--plr-t-40
          +banner({info: page.banner, attrs: {'data-anim': 'fadeUp', 'data-delay': '0.4'}})
    if page.warehouse
      .section.is-hidden
        +section-warehouse({info: page.warehouse})
    if page.application
      .section.is-hidden
        +section-application({info: page.application})
    if page.clients
      .section.is-hidden
        .container.container--pr-m-0
          +section-clients({info: page.clients})
    if page.job
      .section.is-hidden
        .container.container--pr-m-0.container--pl-m-0
          +section-job({info: page.job, attrs: {'data-anim': 'fadeUp', 'data-delay': '0.4'}})
    if page.news
      .section.is-hidden
        .container.container--pr-t-0
          +section-news({info: page.news})
    if page.feedback
      .section
        +section-feedback({info: page.feedback})
