extends /layouts/main.pug

include /organisms/section/reviews/section-reviews.pug
include /organisms/section/feedback/section-feedback.pug
include /molecules/breadcrumbs/breadcrumbs.pug

block vars
  - var page = require('../data/pages/reviews.json');

block content
  .main
    .section-top
      .container
        if page.breadcrumbs
          +breadcrumbs({info: page.breadcrumbs, className: 'breadcrumbs--dark'})
      if page.sectionReviews
        +section-reviews({info: page.sectionReviews, className: 'mb-60'})
      .section
        +section-feedback({info: page.feedback})
