$parent: link;

@include block($parent) {
  text-decoration: none;
  position: relative;
  transition: color $ease;
  color: $blue-dark;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    bottom: rem(-10);
    left: 0;
    width: 100%;
    height: rem(1);
    background-color: $green;
    transition: $ease;
    pointer-events: none;
  }

  &:hover {
    color: $green;
  }

  &:active {
    color: $green-darken;

    &::before {
      background-color: $green-darken;
    }

    svg {
      fill: $green-darken;
    }
  }

  @include modifier($parent, 'white') {
    color: $white;

    &:hover {
      color: $green;
    }
  }

  @include modifier($parent, 'arrow') {
    &::before {
      display: none;
    }

    svg {
      width: rem(8);
      height: rem(12);
      fill: $green;
    }
  }

  @include modifier($parent, 'rectangle') {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(260);
    height: rem(56);
    border: rem(1) solid $green;
    border-radius: rem(4);

    &::before {
      display: none;
    }

    &:hover {
      background-color: $green;
      color: $white;
      transition: background-color $ease, color $ease;
    }

    &:active {
      background-color: $green-darken;
      transition: background-color $ease;
    }
  }

  @include modifier($parent, 'center') {
    margin: 0 auto;
  }

  @include modifier($parent, 'hide') {
    display: none;
  }
}
