include /atoms/icon/icon.pug

mixin link(props={info: false, className: '', attrs: {}})
  if (props.info)
    if props.info.href
      a.link.text-link(href= props.info.href, class= props.className, data-type= props.info.type || false)&attributes(props.attrs)= props.info.text
        if (props.info.icon)
          +icon({info: props.info.icon})
    else
      button.link.text-link(class= props.className, type= props.info.type || "button", data-type= props.info.type || false, name= props.info.name)&attributes(props.attrs)= props.info.text
