/package-lock.json
/dist/
/node_modules/
/.idea/
/.vscode/
/htdocs/bitrix/
/htdocs/.htaccess
/htdocs/restore.php
/htdocs/core.tar.gz
/htdocs/upload
/htdocs/vendor
/htdocs/.vagrant
/docker/mysql/data
.DS_Store
/htdocs/.env.json
