
.main {
  background-color: #eff4f4;
  position: relative;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    top: 35px;
    right: 15%;
    width: 551px;
    height: 452px;
    display: block;
    background: url(../img/card.png) no-repeat;
    animation: pulsing 5s infinite ;
    transform: translateX(155px);
    @media (max-width: 1600px) {
      right: 5%;
    }
    @media (max-width: 1400px) {
      right: 0%;
    }
    @media (max-width: 1300px) {
      display: none;
    }
  }
}

@keyframes pulsing {
  0% {
            transform: translateY(20px);
  }
  50% {
            transform: translateY(-20px);
  }
  100% {
            transform: translateY(20px);
  }
}

.main .section__content {
  button:first-child {
    margin-bottom: 30px;
    @media (max-width: 650px) {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 870px) {
    flex-direction: column;
  }
}