
.aplication .section__title {
  @media (max-width: 870px) {
    width: 454px;
  }
  @media (max-width: 650px) {
    max-width: 275px;
  }
}
.aplication .section__subtitle {
  @media (max-width: 870px) {
    font-size: 24px;
    width: 454px;
  }
  @media (max-width: 650px) {
    max-width: 275px;
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.aplication .section__content {
  margin-left: 40px;
  @media (max-width: 650px) {
    margin-left: 20px;
  }
}
.aplication .section__content p {
  // line-height: 24px;
  @media (max-width: 650px) {
    font-size: 14px;
  }
}
.aplication .section__subtitle {
  width: 100%;
  @media (max-width: 870px) {
    width: 80%;
  }
}

.aplication .section__title {
  margin-bottom: 25px;
}

.aplication .section__link a {
  width: 80%;
  text-decoration: underline;
  transition: .5s;
  @media (max-width: 680px) {
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
    height: 80px
  }
}

.aplication .section__link a::before {
  display: none;
}
.aplication .section__link a:hover {
  text-decoration: none;
}

.section__link:last-child {
  width: 80%;
}