.later {
  background-color: #eff4f4;
}

.later .section__title {
  @media (max-width: 870px) {
    width: 61%;
  }
  @media (max-width: 650px) {
    width: 100%;
  }
}
.later .section__subtitle {
  width: 100%;
  @media (max-width: 870px) {
    width: 80%;
  }
  @media (max-width: 650px) {
    width: 100%;
  }
}


.later .section__content {
  & li {
    display: flex;
    align-items: center;
    max-width: 752px;
    position: relative;
    margin-bottom: 30px;
  }
  & li:last-child {
    margin-bottom: 70px;
  }
  & li::before {
    position: absolute;
    content: '';
    top: 8px;
    left: -30px;
    width: 8px;
    height: 8px;
    background-color: #3b4269;
    border-radius: 50%;
  }
  & p {
    margin-top: 0px;
    margin-left: 40px;
    color: #74757b;
    font-size: 24px;
    font-weight: 700;
    color: #393e6b;

    span {
      font-weight: 500;
      font-size: 20px;
      @media (max-width: 650px) {
        margin-top: 10px;
        font-size: 14px;
        display: block;
      }
    }
  }
  & a {
    font-size: 24px;
  }
}

.later .btn__green {
  width: 267px;
  @media (max-width: 1024px) {
    width: 620px;
    margin-bottom: 30px;
  }
  @media (max-width: 870px) {
    width: 100%;
    margin-bottom: 30px;
  }
}


.later .section__content li::before {
    display: none;
}

.later .section__link p {
  @media (max-width: 870px) {
    width: 64%;
  }
}