@import "~@atoms/picture/picture.scss";

$parent: section-404;

@include block($parent) {
  padding: rem(184) 0 rem(182) 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 25, 48, 0.5);
    z-index: 0;
  }

  @include element($parent, 'background') {
    object-fit: cover;
    font-family: "object-fit: cover;";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  @include element($parent, 'icon') {
    object-fit: cover;
    position: absolute;
    top: rem(46);
    right: rem(-30);
    z-index: 20;
    display: none;

    @include min-media('d') {
      display: block;
    }

    svg {
      width: rem(250);
      height: rem(270);
      fill: $white;
      opacity: 0.15;

      @include min-media('d') {
        width: rem(500);
        height: rem(561);
      }
    }
  }

  @include element($parent, 'contant') {
    text-align: center;
    margin: 0 auto;
    width: rem(346);
    position: relative;
    z-index: 2;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include min-media('t') {
      width: rem(474);
    }

    @include min-media('xxl') {
      margin-left: rem(225);
    }
  }

  @include element($parent, 'title') {
    margin-bottom: rem(10);
    font: 700 rem(120)/rem(130) 'Montserrat', sans-serif;

    @include min-media('t') {
      font: 700 rem(230)/rem(184) 'Montserrat', sans-serif;
    }

    @include min-media('xl') {
      margin-bottom: rem(16);
    }
  }

  @include element($parent, 'subtitle') {
    margin-bottom: rem(30);
    font: 700 rem(22)/rem(32.6) 'Montserrat', sans-serif;

    @include min-media('t') {
      font: 700 rem(34)/rem(47.6) 'Montserrat', sans-serif;
    }
  }

  @include element($parent, 'btn') {
    color: $white;
    width: rem(303);
    padding: rem(19) rem(20) !important;
  }
}
