include /atoms/btn/btn.pug
include /atoms/icon/icon.pug
include /atoms/picture/picture.pug

mixin section-404(props={info: false, className: ''})
  .section-404(class=props.className)
    +icon({info: props.info.icon, className: 'section-404__icon'})
    +picture({info: props.info.image, className: 'section-404__background'})
    .section-404__contant
      .section-404__title= props.info.title
      .section-404__subtitle= props.info.subtitle
      +btn({info: props.info.btn, className: 'section-404__btn btn--white'})
