
// шаблонизация - общие стили

h2 {
  font-weight: 500;
  font-size: 72px;
  line-height: 66px;
  color: #000000;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
}
.clearfix { clear: both; }
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
}

// .fixed {
//   h2 {
//     font-weight: 500;
//     font-size: 24px !important;
//     line-height: 30px;
//   }
//   margin-top: 0 !important;
//   padding: 30px 95px;
//   height: auto !important;
//   position: fixed !important;
//   width: 1110px;
//   left: 50%;
//   transform: translateX(-50%);
//   top: 0;
//   background-color: #fff;

// }

.no-wrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}



// стили кнопок



.btn {
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-yallow {
  background-color: #FFDF31;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bth-rigth {
  font-size: 7em;
  line-height: 1;
  text-shadow: 0 0 5px #000;  /* тень у текста */ 
  color: red;
  position: relative;
}

.bth-rigth::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color:#000;
}



// надписи на изображении слайдера


.profession,
.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  border-radius: 50px;
  background: #FFFFFF;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}


// скрываю кнопки Slick.js 

.slick-arrow {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
}

// img--info


.info--line > .name {
  visibility: visible;
  position: absolute;
  bottom: 156px;
  left: 120px;
  z-index: 50;
}

.info--line > .profession {
  visibility: visible;
  position: absolute;
  top: 152px;
  right: 120px;
  z-index: 50;
}
.info--revers > .name {
  visibility: visible;
  position: absolute;
  top: 152px;
  left: 120px;
  z-index: 50;
}
.info--revers > .profession {
  visibility: visible;
  position: absolute;
  bottom: 156px;
  right: 120px;
  z-index: 50;
}

.info--revers p {
  visibility: visible;
}


.block__button button {
  background-color: #fff;
}