#map {
  margin-bottom: 72px;
  width: 100%;
  height: 540px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

.map h3 {
  margin-bottom: 32px;
}

.map__render {
  position: relative;
}
.map__render-wrap {
  position: relative;
}

.map__buttons {
  left: 24px;
  bottom: 24px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  z-index: 200;
  button {
    margin-top: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background-color: #fff;
  }
  button:first-child {
    margin-top: 0px;
  }
}
.btn-all.active,
.natural.active,
.entity.active {
  background-color: #FFDF31;
}