.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;

    & input,
    & textarea {
        width: 100%;
        border-radius: 4px;
        display: block;
        padding: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        border: 2px solid #f0f0f0;
        background-color: #F5F5F5;
    }

    & textarea {
        resize: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        text-align: left;
        background: #F5F5F5;
        cursor: pointer;
        border-radius: 8px;
        border: none;
        margin-bottom: 10px;
    }

    & input::-webkit-input-placeholder,
    & input::-moz-placeholder,
    & input:-moz-placeholder,
    & input:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.363);
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }

    & {
        & input:focus {
            outline: 0;
            border-color: #777;
        }

        &.error input {
            background-color: #ff66665b;
        }

        & small {
            color: #e74c3c;
            position: absolute;
            bottom: 0;
            left: 0;
            visibility: hidden;
        }

        &.error small {
            visibility: visible;
        }
    }

    &-wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-control {
            flex: 0 0 50%;
            max-width: 255px;
        }
    }
}

.form__input-title {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    transition: .5s;

    h4 {
        margin-right: 12px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }

    svg {
        transition: opacity .8s;
        opacity: 0;
    }
}


.form-file {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #0000008e;
    text-align: left;
    background: #F5F5F5;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    span {
        display: flex;
        align-items: center;
    }

    svg {
        margin-right: 12px;
        fill: rgba(0, 0, 0, 0.424);
    }
}

#form-text {
    height: 94px;
    display: flex;
    align-items: start;
    cursor: text;
}

#form-file {
    visibility: hidden;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -50;
}

// gender

.gender {
    padding: 0 25px 0 0px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
    }

    span {
        margin-left: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }

    span:first-child {
        margin-right: 10px;
    }
    &__radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__radio+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        border: none;
        background-color: #F5F5F5;
        border-radius: 50%;
        transition: .5s;
        position: relative;
    }
    &__radio:checked+label::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        background-color: #000000;
        border-radius: 50%;
        transition: .5s;
    }
}




.captha-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 46.5px;
    position: relative;
    background-color: #F5F5F5;
    border-radius: 8px;
    top: 0;
    right: 0px;

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
    }

    label {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        border-radius: 8px;
    }

    input {
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }

    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        transform: translateY(-50%);
        border-radius: 8px;
    }

    p {
        position: absolute;
        left: 52px;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        text-align: left;
    }
}

.checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


.container:hover input~.checkmark {
    background-color: #ccc;
}


.container input:checked~.checkmark {
    background-color: #fafafa;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(11, 87, 251);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-control.margin {
    margin: 0;
    padding: 0;

    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #0000008e;
    }
}

.agreement-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;

    label {
        margin-right: 12px;
        width: 24px;
        height: 24px;

        background-color: #F5F5F5;
        cursor: pointer;
        border-radius: 8px;
    }

    input {
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }

    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        transform: translateY(-50%);
        border-radius: 8px;
    }
}

.agreement {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


.container {
    &:hover input~.agreement {
        background-color: #ccc;
    }
    & input:checked~.agreement:after {
        display: block;
    }
}



.agreement:after {
    content: "";
    position: absolute;
    display: none;
}

.container .agreement:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    transform: scale(.9) rotate(45deg);
}


.linlk {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }
}


.btn__submit {
    margin-top: 24px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    height: 47px;
    &.active {
        background-color: #FFDF31;
    }
    &:disabled {
        background-color: #f4f4f4;
        padding: 5px;
        height: 47px;
    }
}


.blank__discription-wrap {
    margin-top: 17px;
    flex: 0 0 50%;
    max-width: 445px;
}

.blank__discription {
    h3 {
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 27px;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
    }
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 8px;

    a {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
    }
}

.gender__radio:disabled+label::before {
    background-color: #666768;
}