// <------------------------------------------- 1190----------
@media (max-width: 1190px) {
    .container {
        max-width: 1024px;
    }
    // <---------------------------------------- HEADER 1190----------
    .header__inner {
        margin: 0 39px;
    }
    // <---------------------------------------- PREWIEW 1990----------
    .prewiew {
        &__content-wrap {
            max-width: 1024px;
        }
    }
    // <---------------------------------------- CARD 1190----------
.instagram {
    &__btn {
        max-width: 935px;
    }
}
    .instagram__inner h3 {
        margin-left: 40px;
    }

    .instagram__item:first-child {
        width: 330px;
        height: 330px;
        display: flex;
        border-radius: 8px;
    }

    .instagram__item:nth-child(2) {
        width: 330px;
        height: 330px;
        display: flex;
        border-radius: 8px;
        margin-right: 0;
    }

    .instagram__item:nth-child(3) {
        margin-right: 30px;
    }

    .instagram__item:nth-child(8) {
        margin-right: 0px;
    }

    .instagram__item:nth-child(9) {
        margin-right: 30px;
    }

    .instagram__item:nth-child(11) {
        margin-right: 0px;
    }

    .instagram__item:nth-child(13) {
        margin-right: 30px;
    }

    .instagram__item:nth-child(14) {
        margin-right: 0px;
    }


    .instagram__contant {
        max-width: 965px;
        max-height: 642px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .map__render-wrap {
        position: relative;
        max-width: 90%;
        margin: 0 auto;
    }

    .map h3 {
        margin-left: 45px;
    }

    .footer__content,
    .footer__by {
        margin: 0 30px;
    }
}
// <------------------------------------------- 1043 ----------
@media (max-width: 1043px) {

    // <-------------------------------------------- PREWIEW 1043----------
    .prewiew {
        &__slide {
            // min-width: auto;
        }

        &__content {
            flex: 0 0 50%;
            z-index: 50;
        }

        &__img {
            height: 524px;
            width: 466px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 50%;
            border-top-left-radius: 50%;
        }

        &__text,
        .block__button {
            margin-left: 39px;
        }

        &__text {
            max-width: 283px;
        }
    }


    .info--line>.profession {
        right: 71px;
        top: 100px;
    }

    .info--line>.name {
        left: 70px;
        bottom: 100px;
    }

    .info--revers>.name {
        left: 62px;
        top: 100px;
    }

    .info--revers>.profession {
        right: 40px;
        bottom: 100px;
    }

    // <-------------------------------------------- CARD 1043----------
    .card {
        &__header {
            width: 925px;
        }

        &__inner {
            padding: 0 39px;
        }

        &__slider-item {
            width: 300px;
        }

        .slider__item-wrap {
            width: 300px;
            height: 410px;

            img {
                width: inherit;
            }
        }
    }

    .blank__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blank__form-wrap {
        margin-top: 72px;
        margin-bottom: 72px;
    }

    .blank__discription {
        max-width: 645px;
    }

    .blank__title {
        max-width: 541px;
        margin: 0 auto;
    }
    .blank__discription,
    .blank__discription-wrap {
        max-width: 100%;
    }
    .blank__discription-wrap {
        max-width: 800px;
        margin: 0 39px;
    }
    .blank {
        overflow: hidden;
    }
    .personal__inner {
        max-width: 862px;
    }

}
// <------------------------------------------- 970 ----------
@media (max-width: 970px) {
    .card .block__button {
        display: none;
    }

    .card__discription {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        padding: 0 20px;

        span {
            white-space: nowrap;
        }
    }

    .map__render-wrap {
        max-width: 100%;
    }
    .personal__inner {
        max-width: 684px;
    }
    .personal__title {
        padding: 32px 24px 0 24px;
    }
    .personal__text {
        padding: 0 24px 32px 24px;
    }
    .personal__inner{
        // margin: 0 auto;
    }

    .card__header {
        margin-bottom: 30px;
    }
}
// <------------------------------------------- 830 ----------
@media (max-width: 830px) {
    .instagram {
        &__contant {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-height: 600px;
        }

        &__item {
            width: 210px;
            height: 210px;
            background-color: #F5F5F5;
            display: flex;
            border-radius: 8px;
            margin-right: 30px;
            margin-bottom: 30px;
            float: none;
        }

        &__item:first-child {
            width: 330px;
            height: 330px;
            background-color: #F5F5F5;
            display: flex;
            border-radius: 8px;
        }

        &__item:nth-child(2) {
            width: 330px;
            height: 330px;
            background-color: #F5F5F5;
            display: flex;
            border-radius: 8px;
        }
    }
    .blank__title {
        h2 {
            font-size: 58px;
        }
    }
}
// <------------------------------------------- 767 ----------
@media (max-width: 767px) {
  

    .prewiew {
        &__img {
            height: 445px;
            width: 320px;

        }

        &__text,
        .block__button {
            margin-left: 70px;
        }

        .info--line>.profession {
            right: 22px;
            top: 70px;
        }

        .info--line>.name {
            left: 55px;
            bottom: 70px;
        }

        .info--revers>.name {
            left: 62px;
            top: 70px;
        }

        .info--revers>.profession {
            right: 40px;
            bottom: 70px;
        }
    }
    .card__header {
        margin-bottom: 30px;
    }
    .card__slider {
        width: 540px;
        overflow: visible;
    }

    .instagram {
        h3 {
            margin-left: 0;
        }

        &__item {
            width: 346px;
            height: 346px;
            margin-right: 0px;
            margin-bottom: 12px;
        }

        &__contant {
            max-width: 680px;
            max-height: 1789px;
        }

        &__item:first-child {
            width: 346px;
            height: 346px;
            margin-right: 0px;
            margin-bottom: 12px
        }

        &__item:nth-child(2) {
            width: 346px;
            height: 346px;
            margin-right: 0px;
            margin-bottom: 12px;
        }

        &__item:nth-child(3) {
            width: 346px;
            height: 346px;
            margin-right: 0px;
            margin-bottom: 12px;
        }

        &__item:nth-child(3),
        &__item:nth-child(4),
        &__item:nth-child(5),
        &__item:nth-child(6),
        &__item:nth-child(7),
        &__item:nth-child(8),
        &__item:nth-child(9),
        &__item:nth-child(10),
        &__item:nth-child(11),
        &__item:nth-child(12),
        &__item:nth-child(13) {
            margin-right: 0px;
            margin-bottom: 12px;
        }

        &__inner {
            width: 346px;
            margin: 0 auto;
        }

        &__btn {
            width: 346px;
            max-width: 100%;
        }
    }

    .map__render-wrap {
        max-width: 100%;
        width: 100%;
    }

    #map {
        height: 600px;
    }
    .personal__inner {
        max-width: 500px;
    }

}
// <------------------------------------------- 768----------
@media (max-width: 768px) {
    .google-map {
        height: 600px;
    }

    #map {
        height: 600px;
    }

    .footer__content,
    .footer__by {
        margin: 0 39px;
    }

    .map__buttons {
        left: 39px;
        bottom: 46px;
    }
}
// <-------------------------------------------- 700----------
@media (max-width: 700px) {

    // <-------------------------------------------- HEADER 700----------

    .container {
        max-width: 1024px;
    }

    .header__info {
        svg {
            display: block;
        }

        .header__phone {
            display: none;
        }
    }

    // <-------------------------------------------- PREWIEW 700----------
    .prewiew {

        &__text,
        .block__button {
            margin-left: 40px;
        }
    }

    .map__render-wrap {
        width: 100%;
        max-width: 100%;
    }

}
// <-------------------------------------------- 680----------
@media (max-width: 680px) {

    // <-------------------------------------------- PREWIEW 680----------
    .prewiew {
        &__content-wrap {
            flex-direction: column;
            max-height: 590px;
        }

        &__content {
            align-self: center;
            flex: 0 0 100%;
        }

        &__text {
            margin: 48px 0;
            width: 450px;
            max-width: 100%;
            padding: 0 20px;
            text-align: left;
        }

        &__img {
            border-radius: 0;
            width: 100%;
            max-width: 420px;
            border-top-right-radius: 200px 160px;
            border-bottom-right-radius: 0%;
            border-bottom-left-radius: 0%;
            border-top-left-radius: 200px 160px;

            img {
                // width: 130%;
            }
        }

        .info--line>.profession {
            right: 38px;
            top: 80px;
        }

        .info--line>.name {
            left: 16px;
            bottom: 40px;
        }

        .info--revers>.name {
            left: 40px;
            top: 70px;
        }

        .info--revers>.profession {
            right: 40px;
            bottom: 40px;
        }

        .block__button {
            display: none;
            visibility: hidden;
        }
    }

    // <-------------------------------------------- CARD 680----------
    .card__inner {
        padding: 0;
    }

    .card__slider-item {
        margin: 0 8px;
    }

    .card__header {
        padding: 0 44px;
        width: 100%;
        max-width: 500px;
    }

    .slider__item-wrap {
        margin-right: 0;
    }

    .footer__content {
        flex-direction: column;
        align-items: start;
    }

    .footer__link {
        margin-top: 24px;
        flex-direction: column;
        align-items: start;

        h3 {
            display: none;
        }
    }

    .footer__by {
        flex-direction: column-reverse;
        align-items: start;
    }

    .footer__coppy {
        margin-bottom: 24px;
    }
    .personal__title h2 {
        font-size: 48px;
        line-height: 44px;
    }
    .personal__text {
        h3 {
            margin-top: 32px;
        }
    }.prewiew .prewiew__text h2 {
        font-size: 52px;
    }
}
// <-------------------------------------------- 580----------
@media (max-width: 580px) {

    .container {
        max-width: 550px;
        // margin: 0 15px;
    }

    .header__inner {
        margin: 0 32px 0 15px;
        max-width: 100%;
    }

    // <-------------------------------------------- HEADER 580----------
    .header__info {

        // margin: 0 auto;
        a:last-child {
            display: none;
        }
    }
    .blank__title h2 {
        font-size: 48px;
    }
    .blank__inner {
        padding: 0 15px;
    }
    .form-control-wrap {
        .form-control {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .header-form {
        margin-bottom: 48px;
    }
    .blank__content {
        margin-top: 48px;
    }
    .blank__form-wrap {
        margin: 0;
    }
    .gender {
        padding: 0;
    }
    .gender div {
      margin-right: 60px;
    }
    .linlk {
        margin-top: 24px;
    }
    .agreement-wrap {
        align-self: end;
    }
    .blank__form-wrap {
        margin-bottom: 48px;
    }
    .blank__discription-wrap {
        margin: 0px 11px;
    }
    .blank__discription p:last-child {
        margin-bottom: 0px;
    }
    .number {
        margin-top: 32px;
    }
    .footer__content {
        margin: 0;
    }
    .blank__title h2 {
        padding: 0;
    }
    .personal__inner {
        width: 100%;
        position: fixed;
        overflow-y: auto;
        overflow: auto;
    }
    .popup__wrap {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #FFDF31;
        width: 100%;
        height: 47px;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 345px;
        border-radius: 8px;
        visibility: hidden;
        transition: .3s;
        // display: none;
      &.active {
          display: flex;
          visibility: visible;
      }
        span {
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          color: #000000;
          // display: none;
          visibility: hidden;
          opacity: 0;
          transition: .5s;
        }
        span.active {
          opacity: 1;
          visibility: visible;
          display: flex;
          transition: .5s;
        }
}
}
// <-------------------------------------------- 420----------
@media (max-width: 420px) {
    h2 {
        font-size: 48px;
        line-height: 44px;
    }

    .prewiew {
        &__wrap {}

        &__img {
            max-width: 100%;
            height: 100%;
        }

        &__slide {
            max-width: 375px;
            // min-width: 100%;
            // height: 100%;
        }

        &__text {
            text-align: left;
            width: 360px;
            // margin-left: 20px;

        }

        &__content {
            width: 100%;
        }
    }

    .card__slider {
        width: 420px;
    }
}
// <-------------------------------------------- 390----------
@media (max-width: 390px) {
    .card__slider {
        width: 380px;
    }

    .card .slider__item-wrap {
        width: 252px;
        height: 344px;
    }

    .card__header {
        padding-left: 0;
    }
}
// <-------------------------------------------- 375----------
@media (max-width: 375px) {
    .container {
        max-width: 362px;
    }

    .header__inner {
        margin: 0 12px;
    }

    h3 {
        font-size: 24px;
        padding-left: 15px;
        margin-left: 0;
    }

    .card {
        margin-top: 48px;

        &__discription {
            width: 100%;
        }
    }

    .card__slider {
        width: 376px;
    }

    .card .slider__item-wrap {
        width: 252px;
        height: 344px;
    }

    .card__slider-item {
        width: 263px;
        margin: 0px 6px;
    }

    .card__header {
        padding-left: 0;
    }

    .map h3 {
        margin-left: 0px;
    }

    .footer__by {
        margin: 0 8px;
    }

    .footer__content {
        margin: 0 8px;
    }
    .personal__title {
        padding: 72px 14px 0 14px;
    }
    .personal__text h3 {
        padding: 0;
    }
    .personal__text {
        overflow-y: scroll;
    }

    .personal__inner {
        top: 0;
        height: 100%;overflow-y: scroll;
    }
}
// <-------------------------------------------- 370----------
@media (max-width: 370px) {
    h2 {
        font-size: 36px;
        padding: 0 20px;
    }

    .header__logo {
        transform: scale(.6);
    }

    // <-------------------------------------------- PREWIEW ----------

    .prewiew {
        &__wrap {}

        &__img {
            max-width: 100%;
            height: 100%;
        }

        &__slide {
            max-width: 320px;
        }

        &__text {
            text-align: left;
            width: 360px;
        }
    }
}
// <-------------------------------------------- 350----------
@media (max-width: 350px) {
    .instagram {
        &__inner {
            width: 320px;
        }

        &__item {
            width: 320px;
            height: 320px;
        }

        &__contant {
            max-width: 320px;
            max-height: 1738px;
        }

        &__contant a img {
            // height: auto;
        }

        &__item:first-child,
        &__item:nth-child(2),
        &__item:nth-child(3),
        &__item:nth-child(4),
        &__item:nth-child(5),
        &__item:nth-child(6),
        &__item:nth-child(7),
        &__item:nth-child(8),
        &__item:nth-child(9),
        &__item:nth-child(10),
        &__item:nth-child(11),
        &__item:nth-child(12),
        &__item:nth-child(13) {
            width: 320px;
            height: 320px;
            margin-bottom: 12px;
        }


        .btn-else {
            width: 320px;
        }
    }
}
// <-------------------------------------------- 320----------
@media (max-width: 320px) {
    h2 {
        font-size: 36px;
        padding: 0 20px;
    }
    .blank__title h2 {
        font-size: 36px;
        padding: 0 20px;
    }
    h3 {
        font-size: 24px;
        line-height: 24px;
        width: 80%;
    }

    .container {
        max-width: 320px;
    }

    .header {
        padding: 32px 15px;
    }

    .header__logo {
        transform: scale(.6);
    }

    // <-------------------------------------------- PREWIEW ----------

    .prewiew {
        &__wrap {}

        &__img {
            max-width: 100%;
            height: 100%;
        }

        &__slide {
            max-width: 320px;
        }

        &__text {
            text-align: left;
            width: 360px;
        }
    }

    .card__slider-item {
        width: 252px;
    }

    .card__slider {
        width: 320px;
    }
}







// .header, .prewiew, .prewiew, .card, .instagram, .instagram, .map, .footer, .personal, .blank {
//     display: none;
// }