

// сбрасываем стандартные настройки

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
*{
  box-sizing: border-box;
}

body, textarea {
  font-family: 'Euclid Circular', sans-serif;
}
a {
  text-decoration: none;
  transition: .3s;
}

button, input {
  transition: background-color .4s;
  font-family: 'Euclid Circular', sans-serif;
}
// убирай цвет автозаполнения

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 10em #F5F5F5 inset !important;
  // -webkit-text-fill-color: yellow !important;
}

.margin {
  margin: 0;
  padding: 0;
}
// подключаем шрифты

@font-face {
  font-family: 'Euclid Circular';
  src:url('../fonts/EuclidCircular-Light.woff2') format('woff2'),
      url('../fonts/EuclidCircular-Light.woff') format('woff'),
      url('../fonts/EuclidCircular-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src:url('../fonts/EuclidCircular-Regular.woff2') format('woff2'),
      url('../fonts/EuclidCircular-Regular.woff') format('woff'),
      url('../fonts/EuclidCircular-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src:url('../fonts/EuclidCircular-Medium.woff2') format('woff2'),
      url('../fonts/EuclidCircular-Medium.woff') format('woff'),
      url('../fonts/EuclidCircular-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src:url('../fonts/EuclidCircular-SemiBold.woff2') format('woff2'),
      url('../fonts/EuclidCircular-SemiBold.woff') format('woff'),
      url('../fonts/EuclidCircular-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src:url('../fonts/EuclidCircular-Bold.woff2') format('woff2'),
      url('../fonts/EuclidCircular-Bold.woff') format('woff'),
      url('../fonts/EuclidCircular-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



