$parent: field-file;

@include block($parent) {
  width: 100%;
  padding: rem(14) rem(20);
  padding-right: rem(31);
  border: 1px dashed rgba($primary, 0.7);
  opacity: 0.7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    border-color: $green;
    transition: border-color $ease;
  }

  @include element($parent, 'text') {
    font-size: rem(14);
    line-height: rem(17);
  }

  @include element($parent, 'format') {
    font: 400 rem(10) / rem(14) 'OpenSans', sans-serif;
    width: rem(120);
  }

  @include element($parent, 'icon') {
    width: rem(33);
    height: rem(22);
  }
}

.dz-error {
  .dz-error-mark:hover {
    position: relative;
    cursor: pointer;

    &:hover::before {
      content: 'Превышен лимит';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: rem(-32);
      right: rem(-45);
      width: rem(100);
      height: rem(26);
      font: 400 rem(10) / rem(14) 'OpenSans', sans-serif;
      background-color: $white;
      box-shadow: 0 10px 20px rgba(18, 25, 48, 0.3);
      border-radius: 4px;
    }
  }

  .dz-error-mark > svg > path {
    fill: $red;
    transition: fill $ease;
  }

  .dz-details {
    color: $red;
    transition: color $ease;
  }
}

.dz-default {
  display: none;
}

.dz-started {
  display: flex;
  flex-wrap: wrap;
  cursor: default;

  .field-file__text {
    display: none;
  }

  .field-file__format {
    display: none;
  }

  .field-file__wrap {
    margin-right: rem(42);
  }

  .dz-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: rem(3);
    margin-left: auto;
    width: 80%;
  }

  .dz-details {
    display: flex;
    font: 400 rem(10) / rem(14) 'OpenSans', sans-serif;
    margin-right: auto;
  }

  .dz-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .dz-message {
    cursor: pointer;
  }

  .dz-size > strong {
    margin-left: rem(4);
    font-weight: 400;
  }

  .dz-remove {
    margin-left: rem(14);
    position: relative;

    &:hover::before {
      content: 'Удалить файл';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: rem(-32);
      right: rem(-45);
      width: rem(100);
      height: rem(26);
      font: 400 rem(10) / rem(14) 'OpenSans', sans-serif;
      background-color: $white;
      box-shadow: 0 10px 20px rgba(18, 25, 48, 0.3);
      border-radius: 4px;
    }

    &:hover > svg > path {
      fill: $green;
      transition: fill $ease;
    }
  }
}
