@import "~@molecules/popup/layout/popup-layout.scss";
@import '~@atoms/field/input/field-input.scss';
@import '~@atoms/field/textarea/field-textarea.scss';
@import '~@atoms/field/select/field-select.scss';
@import '~@atoms/field/date/field-date.scss';
@import '~@atoms/field/file/field-file.scss';

$parent: "popup-types-content";

@include block($parent) {
  @include max-media('mMax') {
    height: 100vh;
    overflow: hidden;
  }

  @include min-media('t') {
    max-height: 90vh;
  }

  @include element($parent, 'container') {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: rem(20);
    padding-bottom: rem(100);
    padding-top: rem(40);
    overflow: auto;
    color: $primary;
    background-color: $gray-light;

    @include min-media('t') {
      width: rem(700);
      height: rem(800);
      padding: rem(50) rem(40);
    }

    @include min-media('xl') {
      width: rem(750);
    }
  }

  @include element($parent, 'header') {
    @include min-media('t') {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: rem(21);
    }
  }

  @include element($parent, 'text') {
    opacity: 1;
    line-height: rem(29);
  }

  @include element($parent, 'img') {
    padding-bottom: rem(140);

    @include min-media('xl') {
      padding-bottom: 0;
    }
  }

  @include modifier($parent, 'open') {
    opacity: 1;
    pointer-events: auto;
  }

  @include modifier($parent, 'medium') {
    @include element($parent, 'container') {
      text-align: center;

      @include min-media('t') {
        width: rem(600);
        padding: rem(56) rem(105) rem(59);
      }
    }
  }
}
