include /atoms/picture/picture
include /molecules/popup/layout/popup-layout.pug

mixin popup-types-content(props={info: false, className: ''})
  +popup-layout({className: `popup-types-content ${props.className}`})
    .popup-types-content__container
      .popup-types-content__header
        if props.info.title
          .popup-types-content__title.text-heading-2!= props.info.title
        if props.info.image
          +picture({info: props.info.image, className: 'popup-types-content__picture'})
      if props.info.text
        .popup-types-content__text.text!= props.info.text
