.text-heading {
  color: $primary;

  &-1 {
    font: 700 rem(34)/rem(41) 'Montserrat', sans-serif;

    @include min-media('t') {
      font-size: rem(48);
      line-height: rem(58);
    }

    @include min-media('xxl') {
      font-size: rem(58);
      line-height: rem(70);
    }
  }

  &-2-1 {
    font: 700 rem(24)/rem(34) 'Montserrat', sans-serif;

    @include min-media('t') {
      font-size: rem(34);
      line-height: rem(48);
    }
  }

  &-2 {
    position: relative;
    font: 700 rem(22)/rem(31) 'Montserrat', sans-serif;

    @include min-media('t') {
      font-size: rem(34);
      line-height: rem(48);
    }

    @include min-media('t') {
      font-size: rem(34);
      line-height: rem(48);
    }
  }

  &-3 {
    font: 600 rem(20)/rem(26) 'Montserrat', sans-serif;

    @include min-media('t') {
      font-size: rem(22);
      line-height: rem(29);
    }
  }

  &-4 {
    font: 600 rem(20)/rem(30) 'Montserrat', sans-serif;
  }

  &-5 {
    font: 600 rem(18)/rem(22) 'Montserrat', sans-serif;
  }

  &-6 {
    font: 600 rem(14)/rem(20) 'Montserrat', sans-serif;
  }
}

.text {
  font: 400 rem(14)/rem(22) 'OpenSans', sans-serif;
  color: $primary;
  opacity: 0.7;

  @include min-media('t') {
    font-size: rem(16);
    line-height: 180%;
  }

  &--no-opacity {
    opacity: 1;
  }

  &-extrasmall {
    font: 400 rem(12)/rem(17) 'OpenSans', sans-serif;
    color: $primary;
    opacity: 0.7;

    & > a {
      &:hover {
        color: $green;
      }

      &:active {
        color: $green-darken;
      }
    }
  }
}

.text-link {
  font: 600 rem(18)/rem(18) 'Montserrat', sans-serif;
  color: $blue-dark;
}

.text-link-2 {
  font: 600 rem(16)/rem(16) 'Montserrat', sans-serif;
  color: $blue-dark;
}

.text-small {
  font: 600 rem(14)/rem(14) 'OpenSans', sans-serif;
}

.text-big {
  font: 600 rem(18)/rem(18) 'OpenSans', sans-serif;
}

.text-frame {
  font: 600 rem(16)/rem(26) 'Montserrat', sans-serif;

  @include min-media('t') {
    font-size: rem(16);
    line-height: rem(26);
  }

  @include min-media('xxl') {
    font-size: rem(28);
    line-height: rem(45);
  }
}

.text-lable {
  font: 400 rem(16)/rem(22) 'Rubik', sans-serif;
  opacity: 0.7;
}

.topline { // голубая черта над заголовком
  &::before {
    content: '';
    position: absolute;
    top: rem(-14);
    left: 0;
    width: rem(36);
    height: rem(4);
    background-color: $green;
  }
}

.section {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include min-media('t') {
    padding-top: rem(50);
    padding-bottom: rem(50);
  }

  @include min-media('d') {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &--pb-0 {
    padding-bottom: 0;
  }

  &--pt-0 {
    padding-top: 0;

    @include min-media('t') {
      padding-top: 0;
    }

    @include min-media('d') {
      padding-top: 0;
    }
  }
}

.section-top {
  margin-top: rem(156);
}

.section-bottom {
  margin-bottom: rem(150);
}

.user-text {
  ul {
    padding-left: rem(20);
  }

  li {
    margin-top: rem(15);
    padding-left: rem(19);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: rem(12);
      width: rem(4);
      height: rem(4);
      border-radius: 50%;
      background: $green;
    }
  }

  h5 {
    padding-left: rem(20);
    font-size: rem(16);
    font-weight: bold;
    margin-top: rem(30);
  }
}

@mixin line-clamp(
  $font-size,
  $line-height,
  $lines-to-show
) {
  display: block; // Fallback for non-webkit browsers
  display: -webkit-box;
  font-size: rem($font-size);
  max-height: ($line-height * $lines-to-show) + px; // Fallback for non-webkit browsers
  line-height: rem($line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
}

.mb-16 {
  margin-bottom: rem(16);
}

.mb-30 {
  margin-bottom: rem(30);
}

.mb-40 {
  margin-bottom: rem(40);
}

.mb-60 {
  margin-bottom: rem(60);
}
