*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebeef5;
  font-family: "Montserrat", sans-serif;

  min-width: 320px;
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.header {
  background: #ebeef5;
}

.header__wrap {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 57%;
  a {
    // padding-right: 33px;
    font-size: 14px;
    line-height: 17px;
    position: relative;
  }
}

.link {
  transition: all 0.3s ease-in-out;
  transition-duration: 0.2s;
}

.link:last-child {
  padding-right: 0px;
}

.link::before {
  width: 80%;
  height: 4px;
  background-color: #397dff;
  opacity: 1;
  content: "";
  position: absolute;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  background-color: #397dff;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: #397dff;
  transition-duration: 0.2s;
}

.link:hover:before {
  content: "";
  position: absolute;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 4px;
  background-color: #397dff;
  overflow: auto;
  transition-duration: 0.2s;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.tell {
  position: relative;
  align-self: flex-end;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #2b2d3a;
}

.mail {
  margin-right: 55px;
  position: relative;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #2b2d3a;
}

.tell::after {
  content: "обратный звонок";
  position: absolute;
  width: 117px;
  height: 21px;
  top: -15px;
  left: 0%;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #397dff;
}

.tell::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -90%;
  left: -32%;
  background: url(../img/phone_icon.svg) no-repeat;
  background-size: 100%;
}

.mail::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: -50%;
  left: -30px;
  background: url(../img/mail_icon.svg) no-repeat;
}
