.product {
  margin-top: 120px;
  width: 100%;
  min-height: 620px;
  display: flex;
  over
}

.product__content {
  display: flex;
}

.product__content-left {
  width: 50%;
  height: 100%;
  min-height: 620px;
  position: relative;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.product__img-left {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.product__content-right {
  width: 50%;
  height: 100%;
  position: relative;
  img {
    max-width: 100%;
  }
}

.product__dots--1 {
  position: absolute;
  top: 15%;
  left: 19%;
}

.decor-left {
  width: 27px;
  height: 27px;
  cursor: pointer;

  background-color: #397DFF;
  border-radius: 50%;

  position: relative;

  &::after {
    content: '';
    width: 73px;
    height: 73px;

    background: rgba(57, 125, 255, .15);
    border: 1px solid #397DFF;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
}

.decor__right {
  position: absolute;
}

