
// main

.main-slider {
    width: 100%;
}

.main-slider__item {
    height: auto;
    width: 100vw;
    overflow: hidden;
    @media (max-width: 570px) {
        min-height: 208px;
    }
}

.main-slider-img {
    width: 100%;
    max-height: 750px;
    // background: url(../img/image.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    img {
        width: 100%;
        height: auto;
    }
    @media (max-width: 570px) {
        min-height: 208px;
        max-height: 208px;
        min-width: 180%;
        display: flex;
        align-items: center;
        align-self: flex-end;
    }
}
.main-slider-img img {
    @media (max-width: 570px) {
        min-height: 208px;
        // min-width: 120%;
    }
}

.main-slider-img::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.233);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.main-slid-content {
    position: absolute;
    width: 486px;
    top:50%;
    left: 152px;
    transform: translateY(-50%);
    z-index: 2;
    h2 {
        margin-top: 24px;
        margin-bottom: 29px;
        font-family: SF UI Display;
        font-size: 48px;
        line-height: 115%;
        color: #FFFFFF;
    }
    p {
        font-family: SF UI Display;
        font-size: 14px;
        line-height: 150%;
        color: #ffffffde;
        font-weight: 400;
        max-width: 355px;
        display: block;
    }
    @media (max-width: 1300px) {
        left: 21px;
    }
    @media (max-width: 570px) {
        left: 10px;
    }
}

.main-slid-content h2 {
    @media (max-width: 1300px) {
        font-size: 36px;
    }
    @media (max-width: 570px) {
        font-size: 24px;
        max-width: 58%;
        margin: 10px 0;
    }
}

.main-slid-content p {
    @media (max-width: 570px) {
        font-size: 12px;
        line-height: 150%;
        max-width: 63%;
    }
}

.slick-dots {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    @media (max-width: 1300px) {
        left: 90%;
    }
    @media (max-width: 570px) {
        top: 43%;
    }
}

.main-slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.main-slider .slick-dots button {
    padding: 0;
    font-size: 0;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 500%;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    transition: height .5s;
    @media (max-width: 570px) {
        border-radius: 50px;
    }
}


.main-slider .slick-active button {
    width: 7px;
    height: 15px;
}