
.catalog-title {
    padding-left: 60px;
    @media (max-width: 1300px) {
        padding-left: 19%;
    }
    @media (max-width: 1222px) {
        padding-left: 19%;
    }
    @media (max-width: 1000px) {
        padding-left: 12%;
    }
    @media (max-width: 800px) {
        padding-left: 0px;
    }
    @media (max-width: 540px) {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.catalog-inner {
    // text-align: center;
    h2 {
    font-family: SF UI Display;
    font-size: 36px;
    line-height: 150%;
    color: #000000;
    font-weight: 500;
    }
    @media (max-width: 1300px) {
        padding: 0 20px;
    }
    @media (max-width: 570px) {
        padding: 0 10px;
    }
}

.catalog-inner h2 {
    @media (max-width: 540px) {
        font-size: 24px;
    }
}

.catalog-filters {
    flex-wrap: wrap;
}

.catalog-title {
    margin-bottom: 38px;
}

.catalog-form-cheched-item {
    padding: 0 60px;
    @media (max-width: 1300px) {
        padding: 0 0px;
    }
    @media (max-width: 1222px) {
        padding: 0 0px;
    }
}

.catalog-form {
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1300px) {
        justify-content: center;
        margin-bottom: 18px;
    }
    @media (max-width: 1300px) {
        padding: 0 0px;
        flex-wrap: wrap;
    }
    @media (max-width: 1222px) {
        padding: 0 0px;
    }
    @media (max-width: 848px) {
        padding: 0 0px;
    }
}

.catalog-form-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1300px) {
       margin-bottom: 18px;
    }
}

#radio-one {
    width: 263px;
}

.switch-field {
	display: flex;
    overflow: hidden;
    @media (max-width: 1300px) {
        margin-right: 20px;
    }
    @media (max-width: 774px) {
        margin-right: 0px;
    }
}


.switch-field input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
    height: 45px;
    background-color: #ffffff;
	color: rgb(0, 0, 0);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.068), 0 1px rgb(255, 255, 255);
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;

    color: #000000;
}

.switch-field label:hover {
    cursor: pointer;
    background-color: #E9F3FF;
}

.switch-field input:checked + label {
	background-color: #4479BC;
    box-shadow: none;
    min-width: 134px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1400px) {
        min-width: 261px;
    }
    @media (max-width: 540px) {
        min-width: 151px;
    }
}


.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
    min-width: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1400px) {
        min-width: 261px;
    }
    @media (max-width: 540px) {
        min-width: 151px;
    }
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
    min-width: 134px;
    @media (max-width: 1400px) {
        min-width: 261px;
    }
    @media (max-width: 540px) {
        min-width: 151px;
    }
}

/* This is just for CodePen. */

.finnkoti-info-icon {
    margin-left: 15px;
    right: 10px;
    position: relative;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}


.form-control-flat {
    appearance: none;
    position: relative;
    outline: none;
}

.form-control-rooms {
    appearance: none;
    position: relative;
    outline: none;
}

.form-control-square {
    appearance: none;
    position: relative;
    outline: none;
}

.form-control-filter {
    appearance: none;
    position: relative;
    outline: none;
}

.catalog-select-arrow-flat {
    position: absolute;
    width: 10px;
    height: 5px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: .5s;
    background: url(../img/arrow-down.png) no-repeat;
    background-size: 100%;
}

.catalog-select-arrow-rooms {
    position: absolute;
    width: 10px;
    height: 5px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: .5s;
    background: url(../img/arrow-down.png) no-repeat;
    background-size: 100%;
}

.catalog-select-arrow-square {
    position: absolute;
    width: 10px;
    height: 5px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: .5s;
    background: url(../img/arrow-down.png) no-repeat;
    background-size: 100%;
}

.catalog-select-arrow-rotate-flat {
    transform: rotateZ(180deg);
    background-size: 100%;
    outline: none;
}

.catalog-select-arrow-rotate-rooms {
    transform: rotateZ(180deg);
    background-size: 100%;
    outline: none;
}

.catalog-select-arrow-rotate-square {
    transform: rotateZ(180deg);
    background-size: 100%;
    outline: none;
}












//   =========  checkselect

.checkselect-flat {
    margin-left: 20px;
    min-width: 183px;
	position: relative;
	display: inline-block;
    text-align: left;
    @media (max-width: 1300px) {
        display: none;
    }
    @media (max-width: 570px) {
       
    }
}
.checkselect-flat-drop {
    margin-left: 20px;
    min-width: 183px;
	position: relative;
	display: inline-block;
    text-align: left;
    @media (max-width: 1300px) {
       
    }
    @media (max-width: 570px) {
       
    }
}

.checkselect-rooms {
    margin-left: 20px;
    min-width: 183px;
	position: relative;
	display: inline-block;
    text-align: left;
    @media (max-width: 1300px) {
        display: none;
    }
    @media (max-width: 570px) {
       
    }
}
.checkselect-rooms-drop {
    margin-left: 20px;
    min-width: 183px;
	position: relative;
	display: inline-block;
    text-align: left;
    @media (max-width: 1300px) {
        // display: none;
    }
    @media (max-width: 570px) {
       
    }
}

.checkselect-square {
    margin-left: 20px;
    min-width: 183px;
	position: relative;
	display: inline-block;
    text-align: left;
    @media (max-width: 1400px) {
        display: none;
    }
    @media (max-width: 570px) {
       
    }
}

.drop-checked {
    display: block;
    min-width: 229px;
    margin-left: 0;
    @media (max-width: 1400px) {
        // display: none;
    }
    @media (max-width: 768px) {
       width: 100%;
       padding: 0 10px;
       margin: 0 auto;
    }
}
.drop-checked .form-control-flat {
    display: block;
    min-width: 229px;
    @media (max-width: 1400px) {
        // display: none;
    }
    @media (max-width: 768px) {
       width: 100%;
    }
}
.drop-checked .form-control-rooms {
    display: block;
    min-width: 229px;
    @media (max-width: 1400px) {
        // display: none;
    }
    @media (max-width: 570px) {
       
    }
}
.drop-checked .form-control-square {
    display: block;
    min-width: 229px;
    @media (max-width: 1400px) {
        // display: none;
    }
  
}

.checkselect-control-flat {
	position: relative;
	padding: 0 !important;
}

.checkselect-control-rooms {
	position: relative;
	padding: 0 !important;
}

.checkselect-control-square {
	position: relative;
	padding: 0 !important;
}

.checkselect-over {
    height: 45px;
}

.checkselect-control-flat select {
    padding-left: 20px;
    min-width: 183px;
    height: 45px;
	position: relative;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;

    color: #000000;
    outline: none;
    transition: .5s;
}

.checkselect-control-rooms select {
    padding-left: 20px;
    min-width: 183px;
    height: 45px;
	  position: relative;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;

    color: #000000;
    outline: none;
    transition: .5s;
    @media (max-width: 768px) {
       width: 100%;
    }
}

.checkselect-control-square select {
    padding-left: 20px;
    min-width: 183px;
    height: 45px;
	  position: relative;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;

    color: #000000;
    outline: none;
    transition: .5s;
    @media (max-width: 768px) {
      width: 100%;
   }
}

.checkselect-control-flat:hover select {
    background-color: #E9F2FF;
}
.checkselect-control-rooms:hover select {
    background-color: #E9F2FF;
}
.checkselect-control-square:hover select {
    background-color: #E9F2FF;
}

.checkselect-over-flat {
    height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}
.checkselect-over-rooms {
    height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}
.checkselect-over-square {
    height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    cursor: pointer;
}
.checkselect-popup-flat {
    height: 100%;
	display: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	max-height: 200px;
	position: absolute;
	top: 100%;
	left: 0px;
	border: 1px solid #dadada;
	border-top: none;
	background: #fff;
	z-index: 9999;
	overflow: auto;
	user-select: none;
}

.checkselect-popup-rooms {
    height: 100%;
	display: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	max-height: 200px;
	position: absolute;
	top: 100%;
	left: 0px;
	border: 1px solid #dadada;
	border-top: none;
	background: #fff;
	z-index: 9999;
	overflow: auto;
	user-select: none;
}

.checkselect-popup-square {
    height: 100%;
	display: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	max-height: 200px;
	position: absolute;
	top: 100%;
	left: 0px;
	border: 1px solid #dadada;
	border-top: none;
	background: #fff;
	z-index: 9999;
	overflow: auto;
	user-select: none;
}

.checkselect-flat label {
	// margin: 5px 0;
	position: relative;
	display: block;
	// padding: 4px 6px 4px 45px;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.1;
	cursor: pointer;
}

.checkselect-rooms label {
	// margin: 5px 0;
	position: relative;
	display: block;
	// padding: 4px 6px 4px 45px;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.1;
	cursor: pointer;
}

.checkselect-square label {
	// margin: 5px 0;
	position: relative;
	display: block;
	// padding: 4px 6px 4px 45px;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.1;
	cursor: pointer;
}

.checkselect-popup-flat input {
	position: absolute;
	top: 5px;
	left: 20px;
	margin: 0 !important;
    padding-left: 0px;
}
.checkselect-popup-rooms input {
	position: absolute;
	top: 5px;
	left: 20px;
	margin: 0 !important;
    padding-left: 0px;
}
.checkselect-popup-square input {
    position: absolute;
    width: 50px;
	top: 0px;
    right: 5%;
    text-align: right;
    // transform: translateX(-50%);
	margin: 0 !important;
    padding-left: 0px;
    border: none;
    outline: none;
    appearance: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.catalog-form-cheched-check {
    margin: 10px 0;
    padding-left: 45px;
    width: 100%;
    height: 15px;
    position: relative;

    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;

    color: #000000;
    input{
        display: none;
    }
    @media (max-width: 768px) {
      width: 100%;
  }
}

.catalog-form-square {
    margin: 10px 0;
    padding-left: 0px;
	width: 100%;
	height: 15px;
    position: relative;

    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;

    color: #000000;
}

#catalog-form-cheched-check {
    display: none;
}

.catalog-form-cheched-check label {
	cursor: pointer;
	position: absolute;
	width: 15px;
	height: 15px;
    top: 50%;
	left: 20px;
    transform: translateY(-50%);

	background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 1px;
}


.catalog-form-cheched-check label:after {
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 9px;
	background: #4479BC;

	top: 50%;
	left: 50%;
  transform: translateY(-50%) translateX(-50%);
	// box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}


.catalog-form-cheched-check label:hover::after {
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.catalog-form-cheched-check input[type=checkbox]:checked + label:after {
	filter: alpha(opacity=100);
	opacity: 1;
}

.catalog-form-square label:hover::after {
	// filter: alpha(opacity=30);
	opacity: 0.3;
}

.catalog-form-square input[type=checkbox]:checked + label:after {
	// filter: alpha(opacity=100);
	opacity: 1;
}

.catalog-form-square-text {
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
}












.catalog-search-btn {
    margin-left: 20px;
    padding: 10px 23px 10px 22px;
    border: none;
    display: flex;
    align-items: center;
    background: #4479BC;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
    svg {
        margin-right: 11px;
    }
    @media (max-width: 1400px) {
       display: none;
    }
    @media (max-width: 570px) {
       
    }
}


.checkselect-filter {
    width: 192px;
    height: 100%;
    max-width: 192px;
    padding: 11px 53px 11px 20px ;
    display: inline-block;
    background-color: #fff;
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #000000;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    @media (max-width: 1300px) {
        margin-bottom: 19px;
    }
    @media (max-width: 774px) {
        margin-bottom: 19px;
    }
    @media (max-width: 774px) {
        width: 100%;
        max-width: 521px;
        order: 2;
        margin-top: 20px;
    }
    @media (max-width: 540px) {
        max-width: 302px;
    }
}

.checkselect-filter:hover {
    background-color: #E9F2FF;
}

.checkselect-filter-select {
    cursor: pointer;
    display: block;
    width: 100%;
}
.checkselect-filter-select > i {
    font-size: 14px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    line-height: 20px;
    width: 100%;
}

.dropdown:active {
    background-color: #fff;
}
.checkselect-filter.active:hover,
.checkselect-filter.active {
    border-radius: 2px 2px 0 0;
    background-color: #fff;
}
.checkselect-filter.active .select > i {
    transform: rotate(-90deg);
}
.checkselect-filter .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 42px;
    left: 0;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

.checkselect-filter .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}
.checkselect-filter .dropdown-menu {
    padding: 0;
    list-style: none;
}
.checkselect-filter .dropdown-menu li:hover {
    background-color: #E9F2FF;
}
.checkselect-filter .dropdown-menu li:active {
    background-color: #4479BC;
    color: #fff;
}

.catalog-form-cheched-check {
    margin: 20px 0;
}
.catalog-form-cheched-item-wrap {
    margin-right: 5px;
    @media (max-width: 768px) {
      min-width: 178px;
    }
}

.catalog-form-cheched-item {
    display: flex;
    align-items: center;
    @media (max-width: 1300px) {
        display: none;
     }
   
}

.garage {
    margin-right: 20px;

    // max-width: 150px;
    padding: 0 15px 0 0;
    line-height: 100%;
    label {
        left: 80%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.catalog-form-text-down {
    margin-top: 24px;
    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}
.catalog-form-look-more-wrap {
    text-align: center;
}


.catalog-button-parametr {
    max-width: 735px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    background: #4479BC;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    justify-content: center;
    outline: none;
    
    @media (min-width: 1300px) {
        display: none;
    }
    @media (max-width: 848px) {
        padding: 0 0px;
    }
    @media (max-width: 848px) {
        max-width: 521px;
    }
    @media (max-width: 540px) {
        max-width: 302px;
    }
}

.catalog-button-parametr:hover {
    background: #5783bd;
}
.catalog-button-parametr:active {
    background: #7a98c0;
    color: #000;
}

// DROP!!






.catalog-form-drop-wrap {
    padding: 36px 20px 48px;
    position: absolute;
    width: 100%;
    // height: 308px;
    left: 0px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
    display: none;
    @media (min-width: 1300px) {
        padding: 36px 20px 48px;
        display: flex;
        justify-content: space-between;
        min-width: 800px;
        display: none !important;
    }
    @media (max-width: 848px) {
        padding: 36px 20px 48px;
    }
    @media (max-width: 768px) {
        padding: 16px 0px 18px;
    }
}

// .catalog-form-drop-wrap:hover {

// }

.catalog-drop-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1300px) {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 10px;
        margin-bottom: 35px;
    }
    @media (max-width: 768px) {
        max-width: 320px;
        margin: 0 auto;
        padding: 0 10px;
        margin-bottom: 35px;
    }
}

.catalog-drop-head h2 {
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.catalog-form-wrap-drop {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
        max-width: 320px;
        margin: 0 auto;
    }
}

.catalog-form-wrap-drop select {
  @media (max-width: 768px) {
    margin-bottom: 20px;
}
}

.cheched-item-drop {
    display: flex;
    z-index: 10;
    margin-top: 15px;
    margin-bottom: 20px;
    @media (max-width: 1300px) {
      // flex-direction: column;
      // align-items: start;
      max-width: 800px;
      margin: 0 auto;
      padding: 0 10px;
  }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: start;
      max-width: 320px;
      margin: 0 auto;
      padding: 0 10px;
  }
}

.catalog-button-drop {
    margin: 0 auto;
    // margin-bottom: 40px;
    padding: 12px 56px;
    background: #4479bc;
    border-radius: 50px;
    border: none;
    font-family: SF UI Display;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
    @media (max-width: 768px) {
      width: 299px;
      margin: 0 auto;
      text-align: center;
  }
}

.catalog-button-drop-wrap {
  @media (max-width: 1300px) {
    width: 800px;
    margin: 0 auto;
    // text-align: center;
  }
  @media (max-width: 768px) {
    width: 299px;
    margin: 0 auto;
    text-align: center;
  }
}