// сбрасываем стандартные настройки

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
*{
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-decoration: none;
  transition: .3s;
}

button {
  transition: background-color .4s;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1680px;
  @media (max-width: 1200px) {
    max-width: 800px;
    margin: 0 auto;
  }
  @media (max-width: 870px) {
    max-width: 622px;
  }
  @media (max-width: 670px) {
    max-width: 475px;
  }
  @media (max-width: 520px) {
    max-width: 460px;
  }
}

.fixed {
  position: fixed !important;
  width: 100%;
  height: auto !important;
  background-color: #fff;
    @media (max-width: 1024px) {
      display: none;
  }
}

.mode {
  padding: 100px 0 !important;
  @media (max-width:650px) {
    padding: 100px 0 190px !important;
  }
}

.no-wrap {
  white-space: nowrap;
}

.hidden {
  @media (min-width: 870px) {
    display: none;
  }
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.woff2') format('woff2'),
      url('../fonts/Ubuntu-Light.woff') format('woff'),
      url('../fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
      url('../fonts/Ubuntu-Regular.woff') format('woff'),
      url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
      url('../fonts/Ubuntu-Medium.woff') format('woff'),
      url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
      url('../fonts/Ubuntu-Bold.woff') format('woff'),
      url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
